.age-check-popup {
  z-index: 50;
}
.age-check-popup .age-check-popup__container {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  overflow: hidden;
  padding: 0;
  margin: auto 0 0 auto;
}
.age-check-popup .age-check-popup__container.age-check-popup__container--no-image .age-check-popup__content {
  padding-top: 60px;
}
.age-check-popup .age-check-popup__image-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 53.33%;
}
.age-check-popup .age-check-popup__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-mob-pos);
}
.age-check-popup .age-check-popup__content {
  width: 100%;
  padding: 24px;
  text-align: center;
  word-break: break-word;
}
.age-check-popup .age-check-popup__title {
  font-size: calc(var(--heading-font-size) * 1.375);
  line-height: 1.18;
}
.age-check-popup .age-check-popup__text {
  margin-top: 16px;
  line-height: 1.5;
  color: var(--color-text-secondary);
}
.age-check-popup .age-check-popup__buttons {
  margin-top: 24px;
}
.age-check-popup .age-check-popup__close-button {
  margin-top: 20px;
}
.age-check-popup.need-animate .age-check-popup__col-image {
  overflow: hidden;
}
.age-check-popup.need-animate .age-check-popup__image-wrapper {
  opacity: 0;
  transform: translateX(100%);
  transition-property: opacity, transform;
  transition-duration: var(--animate-time);
  transition-delay: 0.8s;
}
.age-check-popup.need-animate .age-check-popup__content {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--animate-time);
  transition-delay: 0.5s;
}
.age-check-popup.is-active.need-animate .age-check-popup__image-wrapper {
  opacity: 1;
  transform: translateX(0);
}
.age-check-popup.is-active.need-animate .age-check-popup__content {
  opacity: 1;
}
@media (min-width: 768px) {
  .age-check-popup .age-check-popup__container {
    max-width: 800px;
    flex-direction: row;
    align-items: center;
  }
  .age-check-popup .age-check-popup__container.age-check-popup__container--no-image {
    max-width: 520px;
  }
  .age-check-popup .age-check-popup__container.age-check-popup__container--no-image .age-check-popup__content {
    text-align: center;
    padding: 60px 32px 24px 32px;
  }
  .age-check-popup .age-check-popup__container.age-check-popup__container--no-image .age-check-popup__col-text {
    width: 100%;
  }
  .age-check-popup .age-check-popup__col-image {
    width: 37.5%;
  }
  .age-check-popup .age-check-popup__image-wrapper {
    padding-top: 106.66%;
    border-radius: var(--global-border-radius);
  }
  .age-check-popup .age-check-popup__image {
    object-position: var(--img-desktop-pos);
  }
  .age-check-popup .age-check-popup__col-text {
    width: 62.5%;
  }
  .age-check-popup .age-check-popup__content {
    text-align: start;
    padding: 24px 32px 24px 32px;
    padding-inline-end: 64px;
  }
}
@media (min-width: 992px) {
  .age-check-popup .age-check-popup__container {
    margin: auto 16px 16px auto;
  }
}
@media (max-width: 767.98px) {
  .age-check-popup {
    padding: 0;
  }
  .age-check-popup .age-check-popup__container {
    border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
  }
  .age-check-popup .age-check-popup__close-icon-button {
    top: 12px;
    right: 12px;
  }
}