.article-banner {
  position: relative;
  overflow: hidden;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}
.article-banner .article-banner__subheading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 12px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  line-height: 1.28;
  margin-top: 16px;
  color: var(--color-text-primary);
}
.article-banner .article-banner__subheading > span {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.article-banner .article-banner__subheading > span:not(:first-of-type):before {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-text-primary, #000);
}
.article-banner .article-banner__author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}
.article-banner .article-banner__separator {
  position: relative;
  margin: 0 3px;
  color: var(--color-text-secondary);
}
.article-banner .article-banner__heading-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.article-banner .article-banner__heading-block + .article-banner__image-container {
  margin-top: 24px;
}
.article-banner .article-banner__image-container {
  height: var(--image-mobile-height);
  position: relative;
  margin: 0 auto;
}
.article-banner .article-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--global-border-radius);
}
.article-banner .article-banner__image.animated {
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--animate-time);
}
html.no-active .article-banner .article-banner__image {
  opacity: 1;
}
@media (min-width: 992px) {
  .article-banner .article-banner__image-container {
    height: var(--image-desktop-height);
  }
  .article-banner .article-banner__heading-block + .article-banner__image-container {
    margin-top: 32px;
  }
}
.article__content {
  padding: 32px 16px;
}
.article__inner {
  margin-bottom: 32px;
}
.article-main .article-main__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  row-gap: 15px;
  padding: 16px 0;
  margin-top: 32px;
}
.article-main .article-main__share {
  position: relative;
  display: inline-flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  border: none;
  border-radius: initial;
  background-color: transparent;
  text-decoration: none;
  color: var(--color-text-primary);
}
.article-main .article-main__share svg {
  width: 16px;
  height: 16px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-main .article-main__share:hover:hover {
    color: var(--color-text-primary);
    fill: var(--color-text-primary);
    background-color: transparent;
  }
  .article-main .article-main__share:hover:hover .article-main__share-text {
    text-decoration: none;
  }
}
.article-main .article-main__share-text {
  text-decoration: underline;
}
.article-main .article-main__socials-inner {
  display: flex;
  align-items: center;
  gap: 12px;
}
.article-main .article-main__socials-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-secondary);
}
.article-main .article-main__socials-item:not(:last-child)::after {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-text-primary, #000);
}
.article-main .article-main__author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}
@media (min-width: 992px) {
  .article__content {
    display: flex;
    gap: 64px;
    max-width: 1232px;
    margin: 0 auto;
    padding: 48px 16px 32px 16px;
  }
  .article__inner {
    width: 64.67%;
    margin-bottom: 0;
  }
  .article__inner.article__inner--full-width {
    width: 100%;
  }
  .article-main .article-main__socials {
    border-top: 1px solid var(--color-border-thirdly);
  }
}
.article-comments {
  margin-top: 32px;
}
.article-comments .article-comments__container {
  padding: 0 16px;
}
.article-comments .article-comments__heading {
  margin-bottom: 24px;
  text-align: center;
}
.article-comments .article-comments__comment {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 16px;
  background-color: var(--color-background-secondary);
  border-radius: var(--global-border-radius);
}
.article-comments .article-comments__comment + .article-comments__comment {
  margin-top: 16px;
}
.article-comments .article-comments__comment-author {
  font-weight: 500;
}
.article-comments .article-comments__comment-text {
  line-height: 1.5;
}
.article-comments .article-comments__comment-footer {
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-secondary);
}
.article-comments .pagination {
  margin-top: 24px;
  margin-bottom: 48px;
}
.article-comments .pagination .pagination__list {
  justify-content: center;
}
.article-comments .article-comments__form {
  padding: 0 16px;
}
.article-comments .article-comments__form .input {
  background-color: var(--color-background, #fff);
}
.article-comments .article-comments__form svg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.article-comments .article-comments__wrapper {
  margin-bottom: 32px;
}
.article-comments .article-comments__form__header {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 32px;
}
.article-comments .article-comments__form-heading {
  text-align: center;
}
.article-comments .article-comments__comment-form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 16px;
}
.article-comments .article-comments__comment-form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.article-comments .article-comments__comment-form-field {
  flex-basis: 100%;
  width: 100%;
}
.article-comments .form-status {
  margin-bottom: 0;
  justify-content: center;
}
.article-comments .form__input-wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .article-comments .article-comments__comment-form-fields {
    flex-direction: row;
  }
  .article-comments .article-comments__heading {
    margin-bottom: 32px;
  }
  .article-comments .article-comments__form {
    padding: 0;
  }
  .article-comments .article-comments__form-heading {
    text-align: start;
  }
  .article-comments .article-comments__comment-form-field {
    flex-basis: 50%;
  }
  .article-comments .form__input-wrapper {
    text-align: start;
  }
  .article-comments .form-status {
    justify-content: flex-start;
  }
  .article-comments .pagination {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.article-sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.article-sidebar .article-sidebar__title {
  font-size: calc(var(--heading-font-size) * 1.125);
  margin-bottom: 16px;
  line-height: 1.33;
}
.article-sidebar .article-sidebar__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.article-sidebar .button-social {
  padding: 12px;
  border-radius: calc(var(--global-border-radius) * 0.75);
}
.article-sidebar .button-social.button-social--share {
  width: auto;
  margin-inline-end: 6px;
}
.article-sidebar .button-social.button-social--share .icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 10px;
}
.article-sidebar .article-main__share-text {
  font-size: calc(var(--body-font-size) * 0.75);
}
.article-sidebar .article-sidebar__article {
  display: flex;
  align-items: center;
}
.article-sidebar .article-sidebar__article + .article-sidebar__article {
  margin-top: 16px;
}
.article-sidebar .article-sidebar__article-box-image {
  min-width: 120px;
  width: 120px;
  height: 120px;
  margin-inline-end: 16px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-sidebar .article-sidebar__article-box-image:hover .article-sidebar__article-image {
    transform: scale(1.15);
  }
}
.article-sidebar .article-sidebar__article-image-link {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: calc(var(--global-border-radius) / 2);
}
.article-sidebar .article-sidebar__article-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: var(--animate-img-scale);
}
.article-sidebar .article-sidebar__article-image.article-sidebar__article-image--placeholder {
  background-color: var(--color-img-placeholder-bg);
}
.article-sidebar .article-sidebar__article-info {
  display: flex;
  align-items: center;
  gap: 4px 12px;
  flex-wrap: wrap;
  font-size: calc(var(--body-font-size) * 0.75);
  margin-bottom: 16px;
}
.article-sidebar .article-sidebar__article-info-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.article-sidebar .article-sidebar__article-info-item:not(:last-child):after {
  content: "";
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-text-primary, #000);
}
.article-sidebar .article-sidebar__article-title-link {
  font-weight: 500;
  text-decoration: none;
  line-height: 1.5;
  color: var(--color-text-primary);
  word-break: break-word;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-sidebar .article-sidebar__article-title-link:hover {
    opacity: 0.7;
  }
}
.article-sidebar .article-sidebar__product {
  display: flex;
  align-items: center;
}
.article-sidebar .article-sidebar__product + .article-sidebar__product {
  margin-top: 16px;
}
.article-sidebar .article-sidebar__product-box-image {
  min-width: 120px;
  width: 120px;
  height: 120px;
  margin-inline-end: 16px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-sidebar .article-sidebar__product-box-image:hover .article-sidebar__product-image {
    transform: scale(1.15);
  }
}
.article-sidebar .article-sidebar__product-image-link {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: calc(var(--global-border-radius) / 2);
}
.article-sidebar .article-sidebar__product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: var(--animate-img-scale);
}
.article-sidebar .article-sidebar__product-image.article-sidebar__product-image--placeholder {
  background-color: var(--color-img-placeholder-bg);
}
.article-sidebar .article-sidebar__product-title-link {
  display: block;
  text-decoration: none;
  line-height: 1.5;
  color: var(--color-text-secondary);
  margin-bottom: 16px;
  word-break: break-word;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-sidebar .article-sidebar__product-title-link:hover {
    opacity: 0.7;
  }
}
.article-sidebar .price {
  font-size: calc(var(--body-font-size) * 0.875);
}
.article-sidebar .article-sidebar__product-button {
  font-size: calc(var(--body-font-size) * 0.875);
  padding: 8px 16px;
  margin-top: 16px;
  line-height: 1.28;
}
.article-sidebar .article-sidebar__banners {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.article-sidebar .article-sidebar__banner {
  width: 100%;
  position: relative;
  border-radius: var(--global-border-radius);
  overflow: hidden;
}
.article-sidebar .article-sidebar__banner::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
}
.article-sidebar .article-sidebar__banner-box-image {
  padding-top: 99.12%;
}
.article-sidebar .article-sidebar__banner-box-image.article-sidebar__banner-box-image--no-image {
  background-color: var(--color-img-placeholder-bg);
}
.article-sidebar .article-sidebar__banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-sidebar .article-sidebar__banner-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 32px 24px;
  text-align: center;
  transform: translateY(-50%);
  z-index: 1;
}
.article-sidebar .article-sidebar__banner-title,
.article-sidebar .article-sidebar__banner-text {
  color: var(--text-color);
}
.article-sidebar .article-sidebar__banner-title {
  font-size: calc(var(--body-font-size) * 1.75);
  font-weight: 500;
  line-height: 1.21;
}
.article-sidebar .article-sidebar__banner-text {
  margin-top: 16px;
  line-height: 1.375;
}
.article-sidebar .article-sidebar__banner-button {
  margin-top: 32px;
}
@media (min-width: 576px) {
  .article-sidebar .article-sidebar__banner {
    width: calc(50% - 8px);
  }
}
@media (min-width: 992px) {
  .article-sidebar {
    width: calc(35.33% - 64px);
    gap: 40px;
  }
  .article-sidebar .article-sidebar__banner {
    width: 100%;
  }
  .article-sidebar .article-sidebar__banner-box-image {
    padding-top: 105.55%;
  }
  .article-sidebar .article-sidebar__banner-inner {
    padding: 32px;
  }
}