.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.article-card .article-card__link-image-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  margin-bottom: -16px;
  padding-top: 60%;
  border-radius: var(--global-border-radius);
  color: var(--color-text-primary);
  align-self: stretch;
  margin-inline-end: 0;
}
.article-card .article-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-desktop-pos);
  transition-property: transform, opacity;
  transition-duration: var(--animate-img-scale);
}
.article-card .article-card__image.article-card__image--placeholder {
  background-color: var(--color-img-placeholder-bg);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-card .article-card__image:hover {
    transform: scale(1.15);
  }
}
.article-card .article-card__content {
  position: relative;
  width: calc(100% - 32px);
  margin: -16px auto 0;
  padding: 16px;
  border-radius: var(--global-border-radius);
  background-color: var(--color-background-secondary);
}
.article-card .article-card__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  font-size: calc(var(--body-font-size) * 0.75);
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-text-primary);
  word-wrap: break-word;
  gap: 12px;
}
.article-card .article-card__info .icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 5px;
  vertical-align: text-bottom;
}
.article-card .article-card__info-tag {
  overflow: hidden;
  padding: 4px 12px;
  border-radius: var(--global-border-radius);
  background-color: var(--color-accent);
  font-size: calc(var(--body-font-size) * 0.875);
}
.article-card .article-card__comments-count-label {
  display: none;
}
.article-card .article-card__title {
  margin-bottom: 16px;
}
.article-card .article-card__title.article-card__title--clipped {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article-card .article-card__title-link {
  text-decoration: none;
  color: currentColor;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.article-card .article-card__title-link:focus-visible {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 1px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-card .article-card__title-link:hover {
    opacity: 0.75;
  }
}
.article-card .article-card__description {
  margin-bottom: auto;
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--color-text-secondary);
}
.article-card .article-card__description.article-card__description--clipped {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article-card .article-card__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 16px;
  column-gap: 24px;
  row-gap: 16px;
}
.article-card .article-card__footer.article-card__footer--between {
  justify-content: space-between;
}
.article-card .article-card__author {
  display: flex;
  align-items: center;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  gap: 8px;
}
.article-card .article-card__author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
  border: 1px solid currentColor;
}
.article-card .article-card__read-more {
  display: flex;
  background-color: var(--button-background-color-primary);
  border: 1px solid var(--color-border-thirdly);
  color: var(--button-text-color-primary);
  padding: 11px;
  border-radius: 8px;
  opacity: 1;
  transition: opacity var(--timing-short);
}
.article-card .article-card__read-more .icon {
  height: 16px;
  width: 16px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .article-card .article-card__read-more:hover {
    opacity: 0.7;
  }
}
@media (min-width: 768px) {
  .article-card {
    flex-direction: row;
  }
  .article-card .article-card__content {
    width: calc(50% + 16px);
    padding: 28px 32px;
    margin-inline-start: -16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .article-card .article-card__link-image-wrapper {
    width: calc(50% + 16px);
    padding-top: calc((50% + 16px) * 0.853);
    margin-bottom: 0;
    margin-inline-end: -16px;
  }
  .article-card .article-card__info {
    font-size: calc(var(--body-font-size) * 0.875);
    gap: 16px;
  }
  .article-card .article-card__comments-count-label {
    display: inline-block;
  }
}