.banner {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 16px;
}
.banner .banner__wrapper {
  position: relative;
  display: flex;
  min-height: var(--banner-min-height-mobile);
  overflow: hidden;
  border-radius: var(--global-border-radius);
  background-color: var(--banner-background-color, transparent);
}
.banner .banner__wrapper.banner__wrapper--two-cols {
  flex-direction: column;
  min-height: auto;
  background-color: unset;
}
.banner .banner__wrapper.banner__wrapper--overlayed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: var(--overlay);
}
.banner .banner__wrapper.banner__wrapper--one-col::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--banner-image-border-indent) * 2);
  height: calc(100% - var(--banner-image-border-indent) * 2);
  border: var(--banner-image-border-width) solid var(--banner-image-border-color);
  border-radius: var(--global-border-radius);
  z-index: 3;
}
.banner .banner__media-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.banner .banner__media-wrapper.animated {
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--animate-time);
}
html.no-js .banner .banner__media-wrapper {
  opacity: 1;
}
.banner .banner__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-mob-pos);
}
.banner .banner__video {
  overflow: hidden;
  display: none;
}
.banner .banner__video.banner__video--mobile {
  display: block;
}
.banner .banner__video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 335vw;
  height: 200vw;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.banner .banner__inner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: var(--banner-block-alignment, center);
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}
.banner .banner__content {
  z-index: 1;
  opacity: 0;
  width: 100%;
  max-width: 620px;
  padding: 32px 24px;
  border-radius: var(--global-border-radius);
  background: var(--banner-content-background);
  text-align: var(--banner-inner-content-alignment-mobile, center);
}
.banner .banner__content.banner__content--glass {
  backdrop-filter: blur(6px);
}
.banner .banner__content.animated {
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0.6s;
  transition-duration: var(--animate-time);
}
html.no-js .banner .banner__content {
  opacity: 1;
}
.banner .banner__label {
  margin-bottom: 16px;
  line-height: 1.5;
  word-break: break-word;
  color: var(--banner-text-color, #ffffff);
}
.banner .banner__heading {
  margin-bottom: 16px;
  color: var(--banner-text-color, #ffffff);
}
.banner .banner__text {
  color: var(--banner-text-color, #ffffff);
}
.banner .banner__text a {
  color: var(--banner-link-color);
}
.banner .banner__text a:focus-visible {
  outline: 2px solid var(--banner-link-color);
}
.banner .banner__text + * {
  margin-top: 20px;
}
.banner .banner__timer {
  display: flex;
  justify-content: var(--timer-content-alignment-mobile, flex-start);
  color: var(--banner-text-color, #ffffff);
}
.banner .banner__timer-values {
  display: flex;
}
.banner .banner__timer-col + .banner__timer-col {
  margin-inline-start: 15px;
}
.banner .banner__timer-col + .banner__timer-col .banner__timer-values {
  position: relative;
}
.banner .banner__timer-col + .banner__timer-col .banner__timer-values::after {
  content: ":";
  position: absolute;
  top: 50%;
  inset-inline-start: -8px;
  font-weight: 600;
  color: var(--timer-cell-background-color, #000000);
  transform: translate(-50%, -50%);
}
.banner .banner__timer-value {
  min-width: 1.364em;
  padding: 8px 3px;
  border-radius: 5px;
  background-color: var(--timer-cell-background-color, #000000);
  font-family: var(--base-font-family);
  font-size: calc(var(--heading-font-size) * 1.375);
  line-height: 1.18;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--timer-cell-color, #ffffff);
}
.banner .banner__timer-value.is-hidden {
  display: none;
}
.banner .banner__timer-value:not(.is-hidden) + .banner__timer-value {
  margin-inline-start: 2px;
}
.banner .banner__timer-label {
  margin-top: 6px;
  font-size: calc(var(--body-font-size) * 0.75);
  font-weight: 500;
  color: var(--banner-text-color, #ffffff);
}
.banner .banner__button {
  margin-top: 24px;
  border: 1px solid var(--banner-button-border, #000000);
  background-color: var(--banner-button-background, #000000);
  color: var(--banner-button-color, #ffffff);
}
.banner .banner__button::after {
  background-color: var(--banner-button-background-hover, #000000);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .banner .banner__button:hover {
    border: 1px solid var(--banner-button-border-hover, #ffffff);
    color: var(--banner-button-color-hover, #ffffff);
  }
}
.banner .banner__col {
  position: relative;
  flex: 0 0 100%;
}
.banner .banner__col.banner__col--media::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--banner-image-border-indent) * 2);
  height: calc(100% - var(--banner-image-border-indent) * 2);
  border: var(--banner-image-border-width) solid var(--banner-image-border-color);
  border-radius: var(--global-border-radius);
  z-index: 3;
}
.banner .banner__col.banner__col--text {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--banner-background-color, #000000);
}
.banner .banner__col .banner__media-wrapper {
  position: relative;
  overflow: hidden;
  min-height: var(--banner-min-height-mobile);
}
.banner .banner__col .banner__media {
  position: absolute;
  top: 0;
  left: 0;
}
.banner .banner__col .banner__video iframe {
  position: static;
  width: 100%;
  height: 100%;
  background-color: var(--banner-background-color, #000000);
  transform: unset;
}
.banner .banner__col .banner__content {
  margin: 0 auto;
  padding: 32px 24px;
  background-color: transparent;
  text-align: var(--banner-inner-content-alignment-mobile, left);
  backdrop-filter: none;
}
.banner.need-animate {
  opacity: 0;
  transform: translateY(40px);
  transition-property: opacity, transform;
  transition-duration: 1.2s;
}
.banner.animated {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 350px) {
  .banner .banner__timer-value {
    font-size: 18px;
  }
}
@media (min-width: 576px) {
  .banner .banner__video iframe {
    width: 260vw;
    height: 145vw;
  }
  .banner .banner__timer-col + .banner__timer-col {
    margin-inline-start: 23px;
  }
  .banner .banner__timer-col + .banner__timer-col .banner__timer-values::after {
    inset-inline-start: -13px;
  }
  .banner .banner__timer-value:not(.is-hidden) + .banner__timer-value {
    margin-inline-start: 4px;
  }
}
@media (min-width: 768px) {
  .banner .banner__inner {
    padding: 40px;
  }
  .banner .banner__wrapper {
    min-height: calc(var(--banner-min-height-desktop) * 0.8);
  }
  .banner .banner__wrapper.banner__wrapper--two-cols {
    flex-direction: row;
  }
  .banner .banner__content {
    padding: 40px;
    text-align: var(--banner-inner-content-alignment, center);
  }
  .banner .banner__media {
    object-position: var(--img-desktop-pos);
  }
  .banner .banner__video {
    display: block;
  }
  .banner .banner__video.banner__video--mobile {
    display: none;
  }
  .banner .banner__video iframe {
    width: 140vw;
  }
  .banner .banner__timer {
    justify-content: var(--timer-content-alignment, flex-start);
  }
  .banner .banner__button {
    margin-top: 32px;
  }
  .banner .banner__col {
    flex-grow: 1;
    flex-basis: 50%;
  }
  .banner .banner__col .banner__media-wrapper {
    min-height: calc(var(--banner-min-height-desktop) * 0.8);
  }
  .banner .banner__col .banner__content {
    max-width: 670px;
    text-align: var(--banner-inner-content-alignment, left);
  }
}
@media (min-width: 992px) {
  .banner .banner__wrapper {
    min-height: var(--banner-min-height-desktop);
  }
  .banner .banner__video iframe {
    width: 135vw;
    height: 80vw;
  }
  .banner .banner__col .banner__media-wrapper {
    min-height: var(--banner-min-height-desktop);
  }
}
@media (min-width: 1200px) {
  .banner .banner__inner {
    padding: 32px 64px;
  }
  .banner .banner__content {
    max-width: 720px;
    padding: 64px;
  }
  .banner .banner__video iframe {
    width: 100vw;
    height: 56.25vw;
  }
}