.breadcrumb {
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.28;
  text-align: center;
}
.breadcrumb .breadcrumb__container {
  display: inline-flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 100%;
  padding: 2px 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.breadcrumb .breadcrumb__container::-webkit-scrollbar {
  display: none;
}
.breadcrumb .breadcrumb__separator {
  color: var(--color-text-primary);
}
.breadcrumb .breadcrumb__item {
  color: var(--color-text-thirdly);
  white-space: nowrap;
}
.breadcrumb .breadcrumb__separator {
  padding-left: 16px;
  padding-right: 16px;
  font-size: var(--body-font-size);
  font-weight: 500;
}
.breadcrumb .breadcrumb__link {
  opacity: 1;
  text-decoration: none;
  color: var(--color-text-primary);
  white-space: nowrap;
  transition-duration: var(--timing-short);
  transition-property: opacity;
}
.breadcrumb .breadcrumb__link:focus-visible {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 2px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .breadcrumb .breadcrumb__link:hover:hover {
    opacity: 0.7;
  }
}
.breadcrumb.breadcrumb--banner {
  display: flex;
  justify-content: center;
  padding: 0;
  z-index: 1;
}
.breadcrumb.breadcrumb--banner .breadcrumb__container {
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  overflow-x: hidden;
}
.breadcrumb.breadcrumb--banner .breadcrumb__link {
  color: var(--banner-color);
  white-space: unset;
  word-break: break-word;
}
.breadcrumb.breadcrumb--banner .breadcrumb__link:focus-visible {
  outline-color: var(--banner-color);
}
.breadcrumb.breadcrumb--banner .breadcrumb__item {
  white-space: unset;
  word-break: break-word;
  color: var(--banner-color);
  opacity: 0.54;
}
.breadcrumb.breadcrumb--banner .breadcrumb__separator {
  color: var(--banner-color);
}