.cookie-bar {
  position: fixed;
  bottom: 0;
  animation-name: fadeInBottom;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  right: 16px;
  z-index: 12;
  max-width: min(342px, 100vw - 32px);
  max-height: calc(100vh - var(--header-height) - var(--header-offset-top) - 40px);
  overflow-y: auto;
  padding: 16px;
  background-color: var(--background-color, var(--color-black));
  border-radius: var(--global-border-radius);
  color: var(--text-color, var(--color-white));
}
.cookie-bar.cookie-bar--shadow {
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.14);
}
.cookie-bar .cookie-bar__close {
  position: relative;
  display: flex;
  margin-inline-start: auto;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 24px;
  height: 24px;
  padding: 0;
  color: var(--button-close-color, var(--color-white));
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.cookie-bar .cookie-bar__close::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cookie-bar .cookie-bar__close:focus-visible {
  outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cookie-bar .cookie-bar__close:hover {
    opacity: 0.5;
  }
}
.cookie-bar .cookie-bar__header {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-bottom: 16px;
}
.cookie-bar .cookie-bar__heading {
  font-size: calc(var(--body-font-size) * 1.125);
  font-weight: 500;
  line-height: 1.333;
  color: inherit;
}
.cookie-bar .cookie-bar__text {
  line-height: 1.5;
  color: inherit;
}
.cookie-bar .cookie-bar__button {
  display: inline-block;
  margin-top: 16px;
  padding: 7px 15px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  line-height: 1.286;
  text-align: center;
  border-radius: 32px;
  text-decoration: none;
  text-transform: none;
  border: 1px solid var(--button-border-color, #ffffff);
  background-color: var(--button-background-color, #161E13);
  color: var(--button-label-color, #ffffff);
  transition-property: background-color, color, border-color;
  transition-duration: var(--timing-short);
}
.cookie-bar .cookie-bar__button:focus-visible {
  outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cookie-bar .cookie-bar__button:hover {
    border: 1px solid var(--button-border-hover-color, #ffffff);
    background-color: var(--button-background-hover-color, #161E13);
    color: var(--button-label-hover-color, #ffffff);
  }
}
.template-search .cookie-bar,
.template-collection .cookie-bar {
  bottom: 50px;
  animation-name: fadeInBottomHigh;
}
@media (min-width: 768px) {
  .template-search .cookie-bar,
  .template-collection .cookie-bar {
    bottom: 0;
    animation-name: fadeInBottom;
  }
}