.countdown-banner {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 16px;
}
.countdown-banner .countdown-banner__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  min-height: var(--min-height-mobile);
  overflow: hidden;
  border-radius: var(--global-border-radius);
  background-color: var(--section-background-color);
  padding: 46px 24px;
}
.countdown-banner .countdown-banner__picture,
.countdown-banner .countdown-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-mob-pos);
}
.countdown-banner .countdown-banner__picture.need-animate {
  opacity: 0;
  transform: scale(1.25);
  transition-property: opacity, transform;
}
.countdown-banner .countdown-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay);
}
.countdown-banner .countdown-banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  z-index: var(--layer-flat);
}
.countdown-banner .countdown-banner__content.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.countdown-banner .countdown-banner__label,
.countdown-banner .countdown-banner__heading {
  color: var(--text-color);
  text-align: center;
}
.countdown-banner .countdown-banner__label {
  word-break: break-word;
}
.countdown-banner .countdown-banner__link {
  color: var(--link-color);
}
.countdown-banner .countdown-banner__timer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--timer-value-color);
  z-index: var(--layer-flat);
}
.countdown-banner .countdown-banner__timer.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.countdown-banner .countdown-banner__timer-values {
  display: flex;
  gap: 4px;
}
.countdown-banner .countdown-banner__timer-col + .countdown-banner__timer-col {
  margin-inline-start: 13px;
}
.countdown-banner .countdown-banner__timer-col + .countdown-banner__timer-col .countdown-banner__timer-values {
  position: relative;
}
.countdown-banner .countdown-banner__timer-col + .countdown-banner__timer-col .countdown-banner__timer-values::after {
  content: ":";
  position: absolute;
  top: 50%;
  inset-inline-start: -6.5px;
  font-weight: 600;
  color: var(--timer-label-color);
  transform: translate(-50%, -50%);
}
.countdown-banner .countdown-banner__timer-value {
  display: flex;
  justify-content: center;
  min-width: 1.3815em;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--timer-background);
  color: var(--timer-value-color);
}
.countdown-banner .countdown-banner__timer-value.is-hidden {
  display: none;
}
.countdown-banner .countdown-banner__timer-value:not(.is-hidden) + .banner__timer-value {
  margin-inline-start: 4px;
}
.countdown-banner .countdown-banner__timer-label {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  font-size: calc(var(--body-font-size) * 0.75);
  font-weight: 500;
  color: var(--timer-label-color);
}
.countdown-banner.animated .countdown-banner__picture.need-animate {
  opacity: 1;
  transform: scale(1);
}
.countdown-banner.animated .countdown-banner__content.need-animate,
.countdown-banner.animated .countdown-banner__timer.need-animate {
  opacity: 1;
}
@media (min-width: 768px) {
  .countdown-banner .countdown-banner__wrapper {
    min-height: var(--min-height-desktop);
    flex-direction: row;
    padding: 53px 64px;
  }
  .countdown-banner .countdown-banner__image {
    object-position: var(--img-desktop-pos);
  }
  .countdown-banner .countdown-banner__content {
    align-items: flex-start;
    width: calc(50% - 16px);
  }
  .countdown-banner .countdown-banner__label,
  .countdown-banner .countdown-banner__heading {
    text-align: start;
  }
  .countdown-banner .countdown-banner__timer {
    width: calc(50% - 16px);
  }
  .countdown-banner .countdown-banner__timer-col + .countdown-banner__timer-col {
    margin-inline-start: 23px;
  }
  .countdown-banner .countdown-banner__timer-col + .countdown-banner__timer-col .countdown-banner__timer-values::after {
    inset-inline-start: -11.5px;
  }
  .countdown-banner .countdown-banner__timer-value {
    min-width: 1.591em;
  }
}