.footer {
  width: calc(100% - 32px);
  margin: 0 auto 16px;
  padding: 48px 48px 0;
  border-radius: var(--global-border-radius);
  background-color: var(--section-background);
}
.footer .footer__container {
  width: 100%;
  margin: 0 auto;
}
.footer .footer__navigation-heading {
  margin-bottom: 21px;
  font-size: calc(var(--body-font-size) * 1.125);
  font-weight: 500;
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--menu-headings-color);
}
.footer a {
  color: var(--footer-link-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer a:hover {
    color: var(--footer-link-hover-color);
  }
}
.footer a:focus-visible,
.footer button:focus-visible {
  outline: 2px solid var(--footer-link-color);
}
.footer .footer__logo-container {
  display: block;
  width: var(--logo-image-width);
  margin-bottom: 16px;
}
.footer .footer__logo {
  vertical-align: middle;
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.footer .footer__main-content {
  display: flex;
  margin-bottom: 60px;
  gap: 64px;
}
.footer .footer__newsletter-rte {
  color: var(--text-color);
  transition-property: color;
  transition-duration: var(--timing-base);
}
.footer .footer__newsletter-rte a {
  color: var(--footer-link-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .footer__newsletter-rte a:hover {
    color: var(--footer-link-hover-color);
  }
}
.footer .footer__about-rte {
  line-height: 1.5;
  word-wrap: break-word;
  color: var(--text-color);
  transition-property: color;
  transition-duration: var(--timing-base);
}
.footer .footer__about-rte p + p {
  margin-top: 16px;
}
.footer .footer__about-rte a {
  color: var(--footer-link-color);
}
.footer .footer__about-rte a:focus-visible {
  outline: 2px solid var(--footer-link-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .footer__about-rte a:hover {
    color: var(--footer-link-hover-color);
  }
}
.footer .footer__navigation-item {
  flex-grow: 1;
  width: 20.59%;
}
.footer .footer__navigation-list-item + .footer__navigation-list-item {
  margin-top: 16px;
}
.footer .footer__navigation-list-link {
  line-height: 1.5;
  text-decoration: none;
  word-wrap: break-word;
  transition-property: color;
  transition-duration: var(--timing-base);
}
.footer .footer__quick-links {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px 32px;
}
.footer .footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}
.footer .footer__bottom-content {
  margin-top: 48px;
  margin-left: -48px;
  margin-right: -48px;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  align-items: center;
  padding: 16px 48px;
}
.footer .footer__selectors {
  display: flex;
  margin-inline-start: 32px;
  margin-inline-end: 24px;
  column-gap: 12px;
}
.footer .disclosure__button {
  color: var(--footer-link-color);
}
.footer .footer__bottom-left-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-inline-end: auto;
  row-gap: 24px;
}
.footer .footer__bottom-right-col {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.footer .footer__copyright {
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.26;
  word-wrap: break-word;
  color: var(--copyright-text-color);
}
.footer .footer__copyright a {
  text-decoration: underline;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .footer__copyright a:hover {
    text-decoration: none;
  }
}
.footer .footer__back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin-inline-start: 24px;
  padding: 5px;
  border: 1px solid var(--button-top-border);
  background-color: var(--button-top-background);
  color: var(--button-top-color);
  min-width: 44px;
  min-height: 44px;
  border-radius: 10px;
  transition-property: background-color, color, border;
  transition-duration: var(--timing-short);
}
.footer .footer__back-to-top .icon {
  width: 24px;
  height: 24px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .footer__back-to-top:hover {
    border: 1px solid var(--button-top-border-hover);
    background-color: var(--button-top-background-hover);
    color: var(--button-top-color-hover);
  }
}
.footer .footer__payments-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 8px;
  row-gap: 12px;
}
.footer .footer__payments-item {
  display: inline-flex;
  height: 28px;
}
.footer .footer__payments-item svg {
  width: 100%;
  height: 100%;
}
.footer .footer__gdpr-wrapper {
  margin: 16px auto;
  display: flex;
  justify-content: center;
  gap: 12px;
  color: var(--text-color);
  width: fit-content;
}
.footer .footer__gdpr-wrapper:has(input:focus-visible) {
  outline: 2px solid var(--footer-link-color);
  outline-offset: 2px;
}
.footer .social-links {
  margin-top: 24px;
}
.footer .button-social {
  color: var(--button-icon-color-social);
}
.footer .button-social .icon {
  width: 16px;
  height: 16px;
}
.footer .button-social path {
  fill: currentColor;
}
.footer .button-social:focus-visible {
  background-color: var(--button-background-color-social);
  border-color: var(--button-border-color-social);
  color: var(--button-icon-color-social);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .button-social:hover {
    color: var(--button-icon-color-social-hover);
  }
}
.footer.need-animate {
  opacity: 0;
  transition-duration: var(--animate-time);
  transition-property: opacity;
}
.footer.need-animate .footer__main-content,
.footer.need-animate .footer__newsletter,
.footer.need-animate .footer__bottom-content {
  opacity: 0;
  transition-duration: var(--animate-time);
  transition-delay: 0.5s;
  transition-property: opacity;
}
.footer.animated {
  opacity: 1;
}
.footer.animated .footer__main-content,
.footer.animated .footer__newsletter,
.footer.animated .footer__bottom-content {
  opacity: 1;
}
@media (max-width: 1500.98px) {
  .footer .footer__main-content {
    gap: 44px;
  }
}
@media (max-width: 1199.98px) {
  .footer .footer__main-content {
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer .footer__about-rte {
    max-width: 650px;
  }
  .footer .footer__navigation-item {
    flex-grow: 0;
    width: calc(33.33333% - 20px);
  }
  .footer .footer__selectors {
    margin-inline-end: 0;
  }
  .footer .footer__bottom-left-col {
    flex-direction: column;
    width: 100%;
  }
  .footer .footer__bottom-right-col {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .footer .footer__quick-links {
    margin: 0 auto;
  }
}
@media (max-width: 991.98px) {
  .footer {
    padding: 24px 24px 16px;
  }
  .footer .footer__bottom-content {
    margin-top: 24px;
    margin-left: -24px;
    margin-right: -24px;
    padding: 16px 16px 0;
  }
}
@media (max-width: 767.98px) {
  .footer .footer__main-content {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }
  .footer .footer__main-content .footer__navigation-item {
    width: 100%;
  }
  .footer shop-login-button {
    transform: translateX(16px);
  }
  .footer .footer__gdpr-wrapper {
    font-size: calc(var(--body-font-size) * 0.875);
  }
  .footer .footer__newsletter-rte {
    font-size: calc(var(--body-font-size) * 0.875);
    line-height: 1.28;
  }
  .footer .footer__logo-container {
    margin-bottom: 12px;
  }
  .footer .footer__quick-links {
    align-items: center;
    flex-direction: column;
  }
  .footer .footer__about-rte {
    padding-top: 16px;
    font-size: calc(var(--body-font-size) * 0.875);
    line-height: 1.28;
  }
  .footer .social-links {
    margin-top: 15px;
  }
  .footer .footer__navigation-list-link {
    font-size: calc(var(--body-font-size) * 0.875);
    line-height: 1.28;
  }
  .footer .footer__navigation-list-item + .footer__navigation-list-item {
    margin-top: 12px;
    font-size: calc(var(--body-font-size) * 0.875);
  }
  .footer .footer__navigation-heading {
    font-size: calc(var(--body-font-size) * 0.875);
    margin-bottom: 0;
  }
  .footer .footer__navigation-list {
    margin: 0;
    padding-top: 12px;
  }
  .footer .disclosure__list {
    left: 50%;
    transform: translateY(-10px) translateX(-50%);
  }
  .footer .footer__payments-container {
    margin-top: 24px;
    justify-content: center;
  }
}
@media screen and (max-width: 374px) {
  .footer .footer__selectors {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
}
@media (max-width: 359px) {
  .footer {
    padding: 14px;
  }
}
.footer-form {
  max-width: 600px;
  width: 100%;
  margin-top: 16px;
}
.footer-form .footer-form__field {
  position: relative;
}
.footer-form .footer-form__input {
  min-height: 50px;
  padding-inline-end: 140px;
  background-color: var(--input-background);
  border-color: var(--input-border);
  color: var(--input-color);
}
.footer-form .footer-form__input::placeholder {
  opacity: 0.7;
  color: var(--newsletter-input-color);
}
.footer-form .footer-form__input:focus-visible {
  border-color: var(--input-color);
}
.footer-form .footer-form__button {
  position: absolute;
  inset-inline-end: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.footer-form .footer-form__message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  column-gap: 10px;
}
.footer-form .footer-form__message .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.footer-form .footer-form__message.footer-form__message--success {
  color: var(--color-text-success);
}
.footer-form .footer-form__message.footer-form__message--error {
  color: var(--color-text-attention);
}
@media (max-width: 767.98px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
  }
  .footer-form .footer-form__input {
    padding-inline-end: 115px;
    font-size: calc(var(--body-font-size) * 0.875);
  }
}