.gallery-carousel .gallery-carousel__heading {
  margin-bottom: 20px;
  padding: 0 16px;
  text-align: center;
}
.gallery-carousel .gallery-carousel__heading.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.gallery-carousel .gallery-carousel__items-container {
  position: relative;
  overflow: hidden;
  padding: 4px 0;
  cursor: grab;
}
.gallery-carousel .gallery-carousel__items-container.need-animate {
  opacity: 0;
  transform: translateY(50px);
  transition-property: opacity, transform;
}
.gallery-carousel .gallery-carousel__item {
  width: 75%;
  padding: 0 8px;
  scale: 0.85;
  transition-property: transform, scale;
  transition-duration: var(--timing-base);
}
.gallery-carousel .gallery-carousel__item.swiper-slide-active {
  scale: 1;
}
.gallery-carousel .gallery-carousel__items-wrapper {
  align-items: center;
}
.gallery-carousel .gallery-carousel__item-image-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: var(--global-border-radius);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .gallery-carousel .gallery-carousel__item-image-wrapper.gallery-carousel__item-image-wrapper--hover:hover .gallery-carousel__item-image {
    transform: scale(1.1);
  }
}
.gallery-carousel .gallery-carousel__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-desktop-pos);
  transition: var(--timing-base);
}
.gallery-carousel .gallery-carousel__item-image.gallery-carousel__item-image--placeholder {
  background-color: var(--color-img-placeholder-bg);
}
.gallery-carousel .gallery-carousel__button {
  display: none;
  opacity: 1;
  width: 48px;
  height: 64px;
  margin-top: -34px;
  padding: 0;
  border: 1px solid var(--color-slider-arrow-border);
  background-color: var(--color-slider-arrow-background);
  color: var(--color-slider-arrow-icon);
  transition-property: color, fill, border-color, background-color;
  transition-timing-function: var(--easing-ease);
  transition-duration: var(--timing-base);
}
.gallery-carousel .gallery-carousel__button.gallery-carousel__button--prev {
  inset-inline-start: 64px;
  inset-inline-end: auto;
}
.gallery-carousel .gallery-carousel__button.gallery-carousel__button--next {
  inset-inline-start: auto;
  inset-inline-end: 64px;
}
.gallery-carousel .gallery-carousel__button.swiper-button-disabled {
  display: none;
}
.gallery-carousel .gallery-carousel__button::before, .gallery-carousel .gallery-carousel__button::after {
  content: none;
}
.gallery-carousel .gallery-carousel__button:focus-visible {
  outline: 2px solid var(--color-slider-arrow-background);
  outline-offset: 2px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .gallery-carousel .gallery-carousel__button:hover:not(.swiper-button-disabled) {
    border: 1px solid var(--color-slider-arrow-border-hover);
    background-color: var(--color-slider-arrow-background-hover);
    color: var(--color-slider-arrow-icon-hover);
  }
}
.gallery-carousel .gallery-carousel__pagination {
  position: static;
  margin-top: 32px;
  line-height: 0;
}
.gallery-carousel.animated .gallery-carousel__heading.need-animate {
  opacity: 1;
}
.gallery-carousel.animated .gallery-carousel__items-container.need-animate {
  opacity: 1;
  transform: translateY(0);
}
html.no-js .gallery-carousel {
  opacity: 1;
}
@media (min-width: 576px) {
  .gallery-carousel .gallery-carousel__item {
    width: 70%;
  }
  .gallery-carousel .gallery-carousel__pagination {
    display: none;
  }
  .gallery-carousel .gallery-carousel__button {
    display: flex;
  }
}
@media (min-width: 768px) {
  .gallery-carousel .gallery-carousel__heading {
    margin-bottom: 28px;
  }
}
@media (min-width: 992px) {
  .gallery-carousel .gallery-carousel__item {
    width: 29.6%;
  }
}