.grid-images {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 16px;
}
.grid-images .grid-images__title {
  margin-bottom: 24px;
  text-align: center;
}
.grid-images .grid-images__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grid-images .grid-images__box-left,
.grid-images .grid-images__box-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grid-images .grid-images__box-left.grid-images__box--big-image .grid-images__image-container,
.grid-images .grid-images__box-right.grid-images__box--big-image .grid-images__image-container {
  padding-top: 81.63%;
}
.grid-images .grid-images__col {
  width: 100%;
  line-height: 0;
}
.grid-images .grid-images__col.grid-images__col--2.grid-images__col--big-image .grid-images__image-container {
  padding-top: 93.29%;
}
.grid-images .grid-images__col.grid-images__col--1 .grid-images__image-container {
  padding-top: 81.63%;
}
.grid-images .grid-images__col.grid-images__col--both .grid-images__image-container {
  padding-top: 81.63%;
}
.grid-images .grid-images__col.need-animate,
.grid-images .grid-images__title.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.grid-images .grid-images__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-timing-function: ease-out;
  transition-property: transform, opacity;
  transition-duration: var(--animate-img-scale);
  object-fit: cover;
  object-position: var(--img-mob-pos);
}
.grid-images .grid-images__image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 69.97%;
  border-radius: var(--global-border-radius);
  text-decoration: none;
}
.grid-images .grid-images__image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--overlay-opacity);
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}
.grid-images .grid-images__image-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: calc(100% - var(--image-border-indent) * 2);
  height: calc(100% - var(--image-border-indent) * 2);
  border: var(--image-border-width) solid var(--image-border-color);
  border-radius: var(--global-border-radius);
  transform: translate(-50%, -50%);
}
.grid-images .grid-images__image-container:focus-visible .grid-images__image {
  opacity: 0.6;
}
.grid-images .grid-images__image-container svg {
  fill: var(--color-primary-second);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .grid-images .grid-images__image-container.grid-images__image-container--hover:hover .grid-images__image {
    transform: scale(1.15);
  }
}
.grid-images .grid-images__info {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 32px 24px;
  word-break: break-word;
}
.grid-images .grid-images__info.grid-images__info--top {
  top: 0;
}
.grid-images .grid-images__info.grid-images__info--center {
  bottom: 50%;
  transform: translateY(50%);
}
.grid-images .grid-images__info.grid-images__info--bottom {
  bottom: 0;
}
.grid-images .grid-images__heading,
.grid-images .grid-images__text {
  text-align: var(--horizontal);
  color: var(--text-color, var(--color-text-primary));
}
.grid-images .grid-images__heading {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.grid-images .grid-images__text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 16px;
  line-height: 1.37;
}
.grid-images .grid-images__text a {
  color: currentColor;
}
.grid-images.animated .grid-images__col.need-animate,
.grid-images.animated .grid-images__title.need-animate {
  opacity: 1;
}
@media (min-width: 992px) {
  .grid-images .grid-images__title {
    margin-bottom: 32px;
  }
  .grid-images .grid-images__container {
    flex-direction: row;
  }
  .grid-images .grid-images__box-left,
  .grid-images .grid-images__box-right {
    width: 40.05%;
  }
  .grid-images .grid-images__box-left .grid-images__col,
  .grid-images .grid-images__box-right .grid-images__col {
    height: 100%;
  }
  .grid-images .grid-images__box-left.grid-images__box--big-image,
  .grid-images .grid-images__box-right.grid-images__box--big-image {
    width: 58.982%;
  }
  .grid-images .grid-images__box-left.grid-images__box--big-image .grid-images__image-container,
  .grid-images .grid-images__box-right.grid-images__box--big-image .grid-images__image-container {
    padding-top: 61.72%;
  }
  .grid-images .grid-images__box-left:not(.grid-images__box--big-image) .grid-images__col.grid-images__col--3 .grid-images__info,
  .grid-images .grid-images__box-right:not(.grid-images__box--big-image) .grid-images__col.grid-images__col--3 .grid-images__info {
    padding: 20px;
  }
  .grid-images .grid-images__box-left .grid-images__image-container,
  .grid-images .grid-images__box-right .grid-images__image-container {
    padding-top: 44.24%;
  }
  .grid-images .grid-images__col.grid-images__col--2 {
    width: 40.05%;
  }
  .grid-images .grid-images__col.grid-images__col--2 .grid-images__image-container {
    padding-top: 90.9%;
  }
  .grid-images .grid-images__col.grid-images__col--2.grid-images__col--big-image {
    width: 58.982%;
  }
  .grid-images .grid-images__col.grid-images__col--2.grid-images__col--big-image .grid-images__image-container {
    padding-top: 61.72%;
  }
  .grid-images .grid-images__col.grid-images__col--2 .grid-images__image-container {
    padding-top: 73.52%;
  }
  .grid-images .grid-images__col.grid-images__col--1 .grid-images__image-container {
    padding-top: 36.5%;
  }
  .grid-images .grid-images__col.grid-images__col--both {
    width: calc(50% - 8px);
  }
  .grid-images .grid-images__image {
    object-position: var(--img-desktop-pos);
  }
  .grid-images .grid-images__heading {
    -webkit-line-clamp: 2;
  }
}
@media (min-width: 1200px) {
  .grid-images .grid-images__info {
    padding: 64px;
  }
}
@media (min-width: 1501px) {
  .grid-images .grid-images__box-left:not(.grid-images__box--big-image) .grid-images__col.grid-images__col--3 .grid-images__info,
  .grid-images .grid-images__box-right:not(.grid-images__box--big-image) .grid-images__col.grid-images__col--3 .grid-images__info {
    padding: 64px;
  }
}
@media (min-width: 992px) {
  body.rtl .grid-images .grid-images__container {
    flex-direction: row-reverse;
  }
}