/* stylelint-disable */
.image-compare {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}
.image-compare .image-compare-row {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.image-compare .image-compare__content {
  text-align: center;
}
.image-compare .image-compare__content.need-animate,
.image-compare .image-compare-col.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.image-compare .image-compare__label {
  margin-bottom: 16px;
  font-size: var(--body-font-size);
  line-height: 1.5;
  word-break: break-word;
}
.image-compare .image-compare__button {
  margin-top: 16px;
}
.image-compare .image-compare__heading {
  margin-bottom: 16px;
}
.image-compare .image-compare__description {
  padding-left: 16px;
  padding-right: 16px;
  color: var(--color-text-secondary);
}
.image-compare img-comparison-slider {
  visibility: hidden;
  display: block;
  width: 100%;
  --divider-width: 2px;
  --divider-color: var(--drag_cursor_background, #fff);
  cursor: pointer;
}
.image-compare img-comparison-slider:not(.rendered) .image-compare__image.image-compare__image--second {
  display: none;
}
.image-compare img-comparison-slider:not(.rendered) .image-compare__handle {
  display: none;
}
.image-compare img-comparison-slider:focus {
  outline: none;
}
.image-compare img-comparison-slider:focus .image-compare__handle {
  outline: none;
}
.image-compare img-comparison-slider:focus-visible .image-compare__handle {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 2px;
}
.image-compare img-comparison-slider [slot=second] {
  display: none;
}
.image-compare img-comparison-slider.rendered {
  visibility: inherit;
}
.image-compare img-comparison-slider.rendered [slot=second] {
  display: unset;
}
.image-compare .image-compare__image {
  min-height: 200px;
  height: var(--mobile_image_height);
  width: 100%;
  object-fit: cover;
  border-radius: var(--global-border-radius);
}
.image-compare .image-compare__image.image-compare__image--first {
  object-position: var(--first-img-pos);
}
.image-compare .image-compare__image.image-compare__image--second {
  object-position: var(--second-img-pos);
}
.image-compare .image-compare__svg {
  width: 100%;
  height: var(--mobile_image_height);
  background-color: #fff;
}
.image-compare .image-compare__svg.image-compare__svg--black {
  background-color: #000;
  fill: #fff;
}
.image-compare .image-compare__handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: var(--drag_cursor_background, #fff);
  border: 1px solid var(--drag_cursor_border_color, #fff);
  border-radius: 12px;
}
.image-compare .image-compare__handle svg {
  fill: var(--drag_cursor_color, #000);
}
.image-compare .image-compare__handle svg path {
  fill: inherit;
}
.image-compare.animated .image-compare__content.need-animate,
.image-compare.animated .image-compare-col.need-animate {
  opacity: 1;
}
@media (min-width: 992px) {
  .image-compare .image-compare-row {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .image-compare .image-compare-row.image-compare-row--only-child {
    justify-content: center;
  }
  .image-compare .image-compare-col.image-compare-col--small {
    width: calc(40.5% - 8px);
  }
  .image-compare .image-compare-col.image-compare-col--big {
    width: calc(59.5% - 8px);
  }
  .image-compare .image-compare__content {
    margin-bottom: 0;
    padding: 32px 48px;
    text-align: start;
  }
  .image-compare .image-compare__heading {
    margin-bottom: 24px;
  }
  .image-compare .image-compare__handle {
    width: 72px;
    height: 72px;
  }
  .image-compare .image-compare__handle svg {
    width: 24px;
    height: 24px;
  }
  .image-compare .image-compare__description {
    padding-left: 0;
    padding-right: 0;
  }
  .image-compare .image-compare__button {
    margin-top: 24px;
  }
  .image-compare .image-compare__image {
    height: var(--desktop_image_height);
  }
  .image-compare .image-compare__svg {
    height: var(--desktop_image_height);
  }
}
/* stylelint-enable */