.image-with-text {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
.image-with-text .image-with-text__container {
  display: flex;
  flex-direction: column;
}
.image-with-text .image-with-text__image-container {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  column-gap: 8px;
  row-gap: 8px;
  margin-bottom: 24px;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-horizontal {
  flex-wrap: wrap;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-horizontal .image-with-text__image-wrapper {
  padding-top: 35.78%;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-vertical-offset {
  align-items: flex-start;
  overflow: visible;
  column-gap: 0;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-vertical-offset .image-with-text__image-wrapper:first-child {
  z-index: 1;
  margin-top: 20px;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-vertical-offset .image-with-text__image-wrapper:last-child {
  width: calc(100% - 50px);
  margin-inline-start: -25px;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small:before {
  content: "";
  display: block;
  position: relative;
  padding-top: 60.53%;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small .image-with-text__image-wrapper {
  padding-top: initial;
  position: absolute;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small .image-with-text__image-wrapper:first-child {
  top: 0;
  width: 83.33%;
  height: 100%;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small .image-with-text__image-wrapper:last-child {
  top: 50%;
  width: 34.3%;
  height: 83%;
  transform: translateY(-50%);
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small.image-with-text__image-container--double-with-small-left .image-with-text__image-wrapper:first-child {
  left: 0;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small.image-with-text__image-container--double-with-small-left .image-with-text__image-wrapper:last-child {
  right: 0;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small.image-with-text__image-container--double-with-small-right .image-with-text__image-wrapper:first-child {
  right: 0;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small.image-with-text__image-container--double-with-small-right .image-with-text__image-wrapper:last-child {
  left: 0;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--triple {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--triple .image-with-text__image-wrapper:nth-child(1) {
  grid-area: 1/1/3/1;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--triple .image-with-text__image-wrapper:nth-child(2) {
  grid-area: 1/2/2/2;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--triple .image-with-text__image-wrapper:nth-child(3) {
  grid-area: 2/2/2/2;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--desktop {
  display: none;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--mobile {
  display: flex;
}
.image-with-text .image-with-text__image-container.image-with-text__image-container--mobile.image-with-text__image-container--triple {
  display: grid;
}
.image-with-text .image-with-text__image-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 73.53%;
}
.image-with-text .image-with-text__image-wrapper.need-animate {
  opacity: 0;
  transform: translateY(25px);
  transition-property: opacity, transform;
}
.image-with-text .image-with-text__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--global-border-radius);
  object-fit: cover;
  object-position: var(--img-mob-pos);
}
.image-with-text .image-with-text__image.image-with-text__image--placeholder {
  background-color: var(--color-img-placeholder-bg);
}
.image-with-text .image-with-text__content-wrapper {
  display: flex;
  justify-content: center;
  align-items: var(--content-vertical-alignment);
  width: 100%;
}
.image-with-text .image-with-text__content {
  width: 100%;
  text-align: var(--text-alignment);
}
.image-with-text .image-with-text__content.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.image-with-text .image-with-text__button {
  margin-top: 24px;
}
.image-with-text .image-with-text__text-content {
  margin-top: 16px;
  color: var(--color-text-secondary);
}
.image-with-text .image-with-text__heading {
  font-weight: 500;
}
.image-with-text .image-with-text__subheading {
  margin-top: 16px;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-word;
}
.image-with-text.animated .image-with-text__content.need-animate {
  opacity: 1;
}
.image-with-text.animated .image-with-text__image-wrapper.need-animate {
  opacity: 1;
  transform: translateY(0);
}
html.no-js .image-with-text {
  opacity: 1;
}
@media (min-width: 992px) {
  .image-with-text .image-with-text__container {
    flex-direction: row;
    column-gap: 16px;
  }
  .image-with-text .image-with-text__image-container {
    width: 50%;
    margin-bottom: 0;
    column-gap: 16px;
    row-gap: 16px;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--desktop {
    display: flex;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--desktop.image-with-text__image-container--triple {
    display: grid;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--mobile {
    display: none;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--mobile.image-with-text__image-container--triple {
    display: none;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--double-vertical-offset .image-with-text__image-wrapper:first-child {
    margin-top: 40px;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--double-vertical-offset .image-with-text__image-wrapper:last-child {
    width: calc(100% - 120px);
    margin-inline-start: -55px;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small:before {
    padding-top: 73.53%;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small .image-with-text__image-wrapper:last-child {
    height: 66.67%;
  }
  .image-with-text .image-with-text__image-container.image-with-text__image-container--double-with-small .image-with-text__image-wrapper:last-child .image-with-text__image {
    border-radius: var(--global-border-radius);
  }
  .image-with-text .image-with-text__image {
    object-position: var(--img-desktop-pos);
  }
  .image-with-text .image-with-text__content-wrapper {
    width: 50%;
  }
  .image-with-text .image-with-text__content {
    padding: 24px 48px;
  }
}
@media (min-width: 1200px) {
  .image-with-text .image-with-text__button {
    margin-top: 32px;
  }
}
@media (min-width: 992px) {
  body.rtl .image-with-text .image-with-text__container {
    flex-direction: row-reverse;
  }
}