.localization-form__select {
  width: 100%;
  height: 100%;
  line-height: 1.37;
  text-align: start;
  color: var(--text-color);
}
.localization-form__select .icon {
  position: absolute;
  top: 50%;
  inset-inline-start: 1.1rem;
  transform: translateY(-50%);
}
.localization-select {
  width: 100%;
  margin-bottom: 0;
  padding: 18px 20px 18px 27px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.localization-option {
  background-color: var(--section-background);
  color: var(--text-color);
}
.localization-button {
  color: var(--text-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .localization-button:hover {
    color: var(--link-hover-color);
  }
}
.disclosure {
  position: relative;
}
.disclosure + .localization-button {
  display: flex;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.disclosure__list {
  position: absolute;
  bottom: 100%;
  inset-inline-start: 0;
  min-width: 100%;
  max-width: 260px;
  max-height: 180px;
  width: max-content;
  padding: 15px 20px;
  border: 1px solid var(--text-color);
  border-radius: var(--global-border-radius);
  background-color: var(--section-background);
  transform: translateY(-10px);
  transition: var(--timing-short);
  overflow-y: auto;
}
.disclosure__list[hidden=true] {
  transform: translateY(10px);
}
.disclosure__item {
  margin: -15px;
}
.disclosure__link {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  font-weight: 400;
  line-height: 1.37;
  text-align: start;
  text-decoration: none;
  color: var(--text-color);
}
.disclosure__link[aria-current=true]::after {
  text-decoration: underline;
}
.disclosure__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 10px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  line-height: 1.28;
  text-align: start;
  color: var(--text-color);
}
.disclosure__button svg {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
.no-js .localization-form__select .icon {
  display: none;
}