.password-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.password-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 0 auto;
  background-color: var(--background-color, var(--color-white));
  border-radius: var(--global-border-radius);
}

.password-content .password-content__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content content" "image-first image-second";
  column-gap: 16px;
  row-gap: 40px;
  align-items: center;
  width: 100%;
  max-width: 1710px;
  margin: 0 auto;
}

.password-content .password-content__container.password-content__container--offset {
  padding: 16px;
}

.password-content .password-content__block.password-content__block--image-first {
  grid-area: image-first;
}

.password-content .password-content__block.password-content__block--content {
  display: flex;
  justify-content: center;
  grid-area: content;
}

.password-content .password-content__block.password-content__block--image-second {
  grid-area: image-second;
}

.password-content .password-content__image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: var(--global-border-radius);
}

.password-content .password-content__image-wrapper.need-animate {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--animate-time);
}

.password-content .password-content__image-wrapper.animated {
  opacity: 1;
}

.password-content .password-content__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-pos);
  border-radius: var(--global-border-radius);
  transition-property: opacity, transform;
  transition-duration: 1s;
}

.password-content .password-content__image.password-content__image--placeholder {
  border: 1px solid var(--color-text-primary);
  fill: var(--color-text-primary);
}

.password-content .password-content__image.need-animate {
  transform: scale(1.25);
}

.password-content .password-content__image.animated {
  transform: scale(1);
}

.password-content .password-content__content-box {
  z-index: var(--layer-raised);
  display: flex;
  flex: 1 1 auto;
  max-width: 540px;
  width: 100%;
  margin: auto;
  flex-direction: column;
  gap: 30px;
}

.password-content .password-content__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.password-content .password-content__heading {
  text-align: center;
  color: var(--heading-color, var(--color-text-primary));
}

.password-content .password-content__description {
  line-height: 1.5;
  text-align: center;
  color: var(--description-color, var(--color-text-secondary));
}

.password-content .password-content__description a {
  color: currentColor;
}

.password-content .password-content__description a:focus-visible {
  outline: 2px solid currentColor;
}

.password-content .password-content__form-field {
  position: relative;
}

.password-content .password-content__form-input[type=email] {
  min-height: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-inline-end: 128px;
  border-color: var(--input-border-color, #e9e9e9);
  color: var(--input-color, var(--color-text-primary));
  box-shadow: none;
}

.password-content .password-content__form-input[type=email]::placeholder {
  font-size: calc(var(--body-font-size) * 0.825);
}

.password-content .password-content__form-input[type=email].error:not(:focus) {
  border-color: var(--color-text-attention, #b00020);
  color: var(--color-text-attention, #b00020);
}

.password-content .password-content__form-input[type=email]:focus, .password-content .password-content__form-input[type=email]:focus-visible {
  border-color: currentColor;
  box-shadow: none;
}

.password-content .password-content__form-button {
  position: absolute;
  top: 50%;
  right: 8px;
  padding: 7px 15px;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  max-width: 160px;
  text-overflow: ellipsis;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.286;
  border: 1px solid var(--button-background-color, var(--button-border-color-secondary));
  background-color: var(--button-background-color, var(--button-background-color-secondary));
  color: var(--button-text-color, var(--button-text-color-secondary));
}

.password-content .password-content__form-button::after {
  background-color: var(--color-background);
}

.password-content .password-content__form-button:focus-visible {
  outline: 2px solid var(--input-color);
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-content .password-content__form-button:hover {
    border-color: var(--popup-button-background-color, var(--button-border-color-secondary));
    color: var(--popup-button-background-color, var(--button-border-color-secondary));
  }
  .password-content .password-content__form-button:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.password-content .password-content__form-message {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-weight: 400;
}

.password-content .password-content__form-message.password-content__form-message--error {
  color: var(--color-text-attention);
}

.password-content .password-content__form-message.password-content__form-message--success {
  color: var(--color-text-success);
}

.password-content .password-content__form-message .icon {
  margin-inline-end: 10px;
  stroke: currentColor;
}

.password-content.is-current .password-content__form-message {
  display: flex;
}

.password-content .password-content__social-title {
  font-size: calc(var(--heading-font-size) * 1.125);
  font-weight: 500;
  line-height: 1.333;
}

.password-content .password-content__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.password-content .password-content__socials .social-links .social-links__list {
  gap: 10px;
}

.password-content .password-content__socials .button-social {
  border-color: var(--button-border-color-social);
  background-color: var(--button-background-color-social);
  color: var(--button-icon-color-social);
  fill: var(--button-icon-color-social);
}

.password-content .password-content__socials .button-social:focus-visible {
  border-color: var(--button-border-color-social-hover);
  background-color: var(--button-background-color-social-hover);
  color: var(--button-icon-color-social-hover);
  fill: var(--button-icon-color-social-hover);
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-content .password-content__socials .button-social:hover {
    border-color: var(--button-border-color-social-hover);
    background-color: var(--button-background-color-social-hover);
    color: var(--button-icon-color-social-hover);
    fill: var(--button-icon-color-social-hover);
  }
}

@media (min-width: 992px) {
  .password-content .password-content__container {
    grid-template-columns: min(401px, 25%) auto min(401px, 25%);
    grid-template-areas: "image-first content image-second";
    column-gap: 24px;
  }
  .password-content .password-content__form-input[type=email] {
    min-height: 72px;
    padding-inline-end: 168px;
  }
  .password-content .password-content__form-input[type=email]::placeholder {
    font-size: var(--body-font-size);
  }
  .password-content .password-content__form-button {
    max-width: 180px;
    padding: 15px 31px;
    font-size: var(--body-font-size);
    line-height: 1.5;
  }
}

html.no-js .newsletter-form__message {
  display: flex;
}