.password-header {
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 16px auto;
  background-color: var(--section-background, var(--color-white));
  border-radius: var(--global-border-radius);
  color: var(--section-text_color, var(--color-white));
}
.password-header .password-header__container {
  width: 100%;
  max-width: 1710px;
  margin: 0 auto;
  padding: 16px 0;
}
.password-header .password-header__container.password-header__container--offset {
  padding: 16px;
}
.password-header .password-header__col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.password-header .password-header__row {
  max-width: fit-content;
}
.password-header .password-header__message {
  text-align: center;
}
.password-header .password-header__logo-wrapper {
  word-break: break-word;
}
.password-header .password-header__logo {
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.password-header .password-header__button {
  padding: 7px 15px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.29;
}
@media (min-width: 374px) {
  .password-header .password-header__col {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .password-header .password-header__row {
    width: 33.33333%;
    max-width: 33.3333%;
  }
  .password-header .password-header__row:last-child {
    text-align: end;
  }
}
.password-popup .password-popup__container {
  display: grid;
  width: 100%;
  max-width: 343px;
  padding: 0;
  overflow: hidden;
  background-color: var(--popup-background-color, var(--color-white));
  color: var(--popup-text-color, var(--color-text-primary));
  grid-template-areas: "content" "image";
  transform: translateZ(0);
  mask-image: radial-gradient(circle, white 100%, black 100%);
}
.password-popup .password-popup__box-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  grid-area: content;
}
.password-popup .password-popup__box-image {
  width: 100%;
  overflow: hidden;
  grid-area: image;
  transform: translateZ(0);
  mask-image: radial-gradient(circle, white 100%, black 100%);
}
.password-popup .password__header {
  display: flex;
  padding-top: 0;
  padding-bottom: 1px;
  padding-inline-start: 24px;
  padding-inline-end: 9px;
}
.password-popup .password-popup__close {
  display: inline-flex;
  opacity: 1;
  margin-inline-start: auto;
  padding: 15px;
  color: inherit;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.password-popup .password-popup__close:focus-visible {
  outline: 2px solid currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-popup .password-popup__close:hover {
    opacity: 0.5;
  }
}
.password-popup .password-popup__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
}
.password-popup .password-popup__heading {
  text-align: center;
  padding-bottom: 16px;
}
.password-popup .password-popup__form-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.password-popup .password-popup__input[type=password] {
  border-color: var(--popup-input-border-color-not-focus);
  box-shadow: none;
  color: var(--popup-input-color, var(--color-text-primary));
}
.password-popup .password-popup__input[type=password].error:not(:focus) {
  border-color: var(--color-text-attention, #b00020);
  color: var(--color-text-attention, #b00020);
}
.password-popup .password-popup__input[type=password]:focus, .password-popup .password-popup__input[type=password]:focus-visible {
  border-color: currentColor;
  box-shadow: none;
}
.password-popup .password-popup__button {
  border: 1px solid var(--popup-button-background-color, var(--button-border-color-secondary));
  background-color: var(--popup-button-background-color, var(--button-background-color-secondary));
  color: var(--popup-button-text-color, var(--button-text-color-secondary));
}
.password-popup .password-popup__button::after {
  background-color: var(--popup-background-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-popup .password-popup__button:hover {
    border-color: var(--popup-button-background-color, var(--button-border-color-secondary));
    color: var(--popup-button-background-color, var(--button-border-color-secondary));
  }
}
.password-popup .password-popup__submitted-title {
  display: block;
  padding-top: 16px;
  text-align: center;
}
.password-popup .password-popup__description {
  text-align: center;
}
.password-popup .password-popup__description a {
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid currentColor;
  line-height: 1.375;
  font-weight: 500;
  text-decoration: none;
  word-break: break-word;
  transition-property: border-color;
  transition-duration: var(--timing-short);
  color: currentColor;
}
.password-popup .password-popup__description a:focus-visible {
  outline-color: currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-popup .password-popup__description a:hover {
    border-color: transparent;
  }
}
.password-popup .password-popup__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 72.88%;
}
.password-popup .password-popup__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-pos);
}
@media (min-width: 768px) {
  .password-popup .password-popup__container {
    grid-template-columns: 32.752% auto;
    grid-template-areas: "image content";
    gap: 16px;
    max-width: 916px;
    background-color: transparent;
  }
  .password-popup .password-popup__container.password-popup__container--short {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
  .password-popup .password-popup__box-content {
    border-radius: var(--global-border-radius);
    background-color: var(--popup-background-color, var(--color-white));
  }
  .password-popup .password-popup__box-image {
    border-radius: var(--global-border-radius);
    background-color: var(--popup-background-color, var(--color-white));
  }
}
@media (min-width: 992px) {
  .password-popup .password-popup__body {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 40px;
  }
  .password-popup .password-popup__heading {
    padding-bottom: 24px;
  }
}