.predictive-search {
  width: 100%;
  height: 100%;
  background-color: var(--color-background-popup-drawer, #fff);
}
.predictive-search .predictive-search__form {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.predictive-search .predictive-search__header {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  padding-inline-start: 24px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-inline-end: 64px;
  border-bottom: 1px solid var(--color-border-thirdly);
}
.predictive-search .predictive-search__title {
  font-size: calc(var(--heading-font-size) * 1.125);
  font-weight: 500;
  line-height: 1.222;
  word-break: break-word;
}
.predictive-search .predictive-search__close {
  position: absolute;
  top: 50%;
  inset-inline-end: 14px;
  display: flex;
  padding: 10px;
  color: var(--color-text-primary);
  transform: translateY(-50%);
  transition-property: opacity;
  transition-duration: var(--timing-short);
}
.predictive-search .predictive-search__close svg {
  width: 24px;
  height: 24px;
  pointer-events: none;
}
.predictive-search .predictive-search__close:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .predictive-search .predictive-search__close:hover {
    opacity: 0.5;
  }
}
.predictive-search .predictive-search__search {
  position: relative;
  display: flex;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.predictive-search .predictive-search__submit {
  position: absolute;
  inset-inline-start: 0;
  top: 50%;
  display: flex;
  padding: 0;
  color: var(--color-text-primary);
  transform: translateY(-50%);
  transition-property: opacity;
  transition-duration: var(--timing-short);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .predictive-search .predictive-search__submit:hover {
    opacity: 0.5;
  }
}
.predictive-search .predictive-search__reset {
  display: none;
  position: absolute;
  inset-inline-end: 0;
  top: 50%;
  padding: 11px;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transform: translateY(-50%);
  border-radius: calc(var(--global-border-radius) / 2);
  border: 1px solid var(--color-border-thirdly);
  transition-property: color, background-color, border-color;
  transition-duration: var(--timing-short);
}
.predictive-search .predictive-search__reset svg {
  width: 16px;
  height: 16px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .predictive-search .predictive-search__reset:hover {
    color: var(--color-background);
    background-color: var(--color-text-primary);
    border-color: var(--color-background);
  }
}
.predictive-search .predictive-search__input:not(:placeholder-shown) {
  padding-inline-end: 56px;
}
.predictive-search .predictive-search__input:not(:placeholder-shown) ~ .predictive-search__reset {
  display: flex;
}
.predictive-search .predictive-search__input-wrapper {
  width: 100%;
}
.predictive-search .predictive-search__input {
  margin-bottom: 0;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-inline-start: 40px;
  padding-inline-end: 16px;
  border: none;
  border-bottom: 1px solid var(--color-border-thirdly);
  border-radius: 0;
  background-color: transparent;
  font-size: calc(var(--body-font-size) * 1.125);
  font-weight: 500;
  line-height: 1.18;
}
.predictive-search .predictive-search__input::placeholder {
  opacity: 1;
  color: var(--color-text-thirdly);
}
.predictive-search .predictive-search__result {
  overflow: auto;
  flex: 1;
  padding: 24px;
}
.predictive-search .predictive-search__result::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.predictive-search .predictive-search__result::-webkit-scrollbar-track {
  background-color: transparent;
}
.predictive-search .predictive-search__result::-webkit-scrollbar-thumb {
  border-radius: 15px;
}
.predictive-search .predictive-search__result-empty {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.predictive-search .predictive-search__tabs {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 24px;
  border-radius: var(--global-border-radius);
}
.predictive-search .predictive-search__tabs-items {
  display: flex;
  padding: 7px;
  border: 1px solid var(--color-border-thirdly);
  border-radius: var(--global-border-radius);
  gap: 4px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.predictive-search .predictive-search__tabs-items::-webkit-scrollbar {
  display: none;
}
.predictive-search .predictive-search__tabs-item {
  border-radius: var(--global-border-radius);
}
.predictive-search .predictive-search__tabs-button {
  position: relative;
  padding: 4px 16px;
  font-size: var(--body-font-size);
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-text-secondary);
  border-radius: calc(var(--global-border-radius) * 0.75);
}
.predictive-search .predictive-search__tabs-button.is-active {
  background-color: var(--color-accent);
  color: var(--color-text-primary);
}
.predictive-search .predictive-search__tabs-button[disabled] {
  opacity: 0.5;
  cursor: default;
}
.predictive-search .predictive-search__result-row {
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  transition-property: opacity, visibility, transform;
  transition-timing-function: var(--easing-ease);
  transition-duration: var(--timing-long);
}
.predictive-search .predictive-search__result-row.predictive-search__result-row--products, .predictive-search .predictive-search__result-row.predictive-search__result-row--articles {
  gap: 24px;
}
.predictive-search .predictive-search__result-row.visually-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
}
.predictive-search .predictive-search__product-card,
.predictive-search .predictive-search__article-card,
.predictive-search .predictive-search__page-card {
  position: relative;
  display: flex;
  text-decoration: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .predictive-search .predictive-search__product-card:hover .predictive-search__product-card-image {
    opacity: 0.75;
  }
}
.predictive-search .predictive-search__article-card {
  align-items: flex-start;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .predictive-search .predictive-search__article-card:hover .predictive-search__article-card-image {
    opacity: 0.75;
  }
}
.predictive-search .predictive-search__product-card-image-container,
.predictive-search .predictive-search__article-card-image-container {
  flex-shrink: 0;
  position: relative;
  max-width: 100px;
  width: 100%;
  height: 100px;
  background-color: var(--color-preloader-primary);
  border-radius: 8px;
}
.predictive-search .predictive-search__product-card-image,
.predictive-search .predictive-search__article-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-desktop-pos);
  border-radius: 8px;
  background: #FFFFFF;
}
.predictive-search .predictive-search__article-card-content {
  display: flex;
  flex-direction: column;
}
.predictive-search .predictive-search__article-card-subheading {
  margin-inline-start: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.predictive-search .predictive-search__article-card-subheading-item {
  font-size: calc(var(--body-font-size) * 0.75);
  font-weight: 500;
  line-height: 1.1667;
  color: var(--color-text-primary);
}
.predictive-search .predictive-search__article-card-subheading-item-circle {
  margin: 4px;
  width: 4px;
  height: 4px;
  background-color: var(--color-text-primary);
  border-radius: 50%;
}
.predictive-search .predictive-search__product-card-info,
.predictive-search .predictive-search__article-card-heading {
  margin-inline-start: 16px;
}
.predictive-search .predictive-search__product-card-info {
  width: 100%;
}
.predictive-search .predictive-search__product-card-heading,
.predictive-search .predictive-search__article-card-heading,
.predictive-search .predictive-search__page-card-link {
  font-size: var(--body-font-size);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-primary);
}
.predictive-search .predictive-search__article-card-heading {
  font-weight: 500;
}
.predictive-search .predictive-search__featured-items-container {
  padding-top: 8px;
}
.predictive-search .predictive-search__featured-items {
  margin-top: 16px;
}
.predictive-search .predictive-search__page-card-link {
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: var(--body-font-size);
  font-weight: 500;
  line-height: 1.5;
}
.predictive-search .predictive-search__result-col:first-child .predictive-search__page-card {
  border-top: 1px solid var(--color-border-secondary);
}
.predictive-search .predictive-search__page-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border-secondary);
  transition-duration: 0.5s;
  transition-property: opacity;
}
.predictive-search .predictive-search__page-card svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  color: var(--color-text-primary);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .predictive-search .predictive-search__page-card:hover {
    opacity: 0.75;
  }
}
.predictive-search .predictive-search__product-card-price {
  margin-top: 16px;
  line-height: 1.375;
  color: var(--color-text-primary);
}
.predictive-search .predictive-search__apply {
  padding: 16px;
}
.predictive-search .predictive-search__featured-items-title {
  margin-bottom: 16px;
  font-size: calc(var(--heading-font-size) * 1.125);
  font-style: normal;
  font-weight: 500;
  line-height: 1.333;
}
.predictive-search .predictive-search__featured-item {
  margin-bottom: 16px;
}
.predictive-search .predictive-search__featured-item:last-child {
  margin-bottom: 0;
}
.predictive-search .predictive-search__featured-item-link {
  color: var(--color-text-secondary);
  font-size: var(--body-font-size);
  line-height: 1.5;
  text-decoration: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .predictive-search .predictive-search__featured-item-link:hover {
    text-decoration: underline;
  }
}
.predictive-search .predictive-search__footer {
  padding: 16px 24px;
  border-top: 1px solid var(--color-border-thirdly);
}
@media (min-width: 374px) {
  .predictive-search .predictive-search__input {
    font-size: calc(var(--body-font-size) * 1.375);
    font-weight: 500;
    line-height: 1.18;
  }
}
@media (min-width: 576px) {
  .predictive-search {
    top: 16px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    width: calc(100% - 32px);
    max-width: 1171px;
    max-height: calc(100% - 32px);
    border-radius: var(--global-border-radius);
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .predictive-search .predictive-search__header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .predictive-search .predictive-search__title {
    font-size: calc(var(--heading-font-size) * 1.375);
    line-height: 1.18;
  }
  .predictive-search .predictive-search__tabs-button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .predictive-search .predictive-search__product-card-image-container,
  .predictive-search .predictive-search__article-card-image-container {
    max-width: 120px;
    height: 120px;
  }
  .predictive-search .predictive-search__product-card {
    align-items: center;
  }
}