.pricing-table .pricing-table__container {
  overflow: hidden;
  margin: 0 auto;
  padding: 0 16px;
  max-width: var(--container-width);
}
.pricing-table .pricing-table__heading {
  margin-bottom: 24px;
  text-align: center;
}
.pricing-table .pricing-table__heading.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.pricing-table .pricing-table__items-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pricing-table .pricing-table__items-container.pricing-table__items-container--1 {
  justify-content: center;
}
.pricing-table .pricing-table__item-wrapper {
  width: 100%;
}
.pricing-table .pricing-table__item-wrapper.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.pricing-table .pricing-table__item {
  position: relative;
  height: 100%;
  padding: 16px 16px 24px 16px;
  border-radius: var(--global-border-radius);
  background-color: var(--card-background-color);
  word-break: break-word;
}
.pricing-table .pricing-table__item-label {
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
  z-index: 1;
  width: fit-content;
  max-width: 80%;
  min-width: 120px;
  padding: 4px 12px;
  border-radius: calc(var(--global-border-radius) / 2);
  background-color: var(--label-background-color);
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  line-height: 1.28;
  text-align: center;
  color: var(--label-text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pricing-table .pricing-table__item-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-table .pricing-table__item-text-container.need-animate,
.pricing-table .pricing-table__item-box-right.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.pricing-table .pricing-table__item-heading {
  color: var(--title-color);
}
.pricing-table .pricing-table__item-subtitle {
  margin-top: 12px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.28;
  color: var(--subtitle-color);
}
.pricing-table .pricing-table__item-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: var(--global-border-radius);
  margin-bottom: 24px;
}
.pricing-table .pricing-table__item-box-left {
  margin-bottom: 24px;
}
.pricing-table .pricing-table__item-image-wrapper {
  height: 100%;
  display: block;
  padding-top: 66.9%;
}
.pricing-table .pricing-table__item-image-wrapper.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.pricing-table .pricing-table__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-desktop-pos);
}
.pricing-table .pricing-table__item-price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}
.pricing-table .price {
  font-size: calc(var(--body-font-size) * 1.125);
  font-weight: 800;
  line-height: 1.22;
  text-align: center;
  color: var(--price-color);
}
.pricing-table .price .price-item.price-item--sale {
  color: currentColor;
  font-weight: 500;
}
.pricing-table .price .price-item.price-item--regular {
  font-weight: 500;
}
.pricing-table .price.price--on-sale .price__sale .price-item--regular {
  opacity: 0.6;
  color: currentColor;
}
.pricing-table .pricing-table__item-price-unit {
  font-size: calc(var(--body-font-size) * 1.125);
  font-weight: 500;
  color: var(--price-unit-color);
}
.pricing-table .pricing-table__button {
  width: 100%;
  margin-top: 16px;
  border: 1px solid var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-label-color);
}
.pricing-table .pricing-table__button::after {
  background-color: var(--button-background-hover-color);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .pricing-table .pricing-table__button:hover {
    border-color: var(--button-border-hover-color);
    color: var(--button-label-hover-color);
  }
  .pricing-table .pricing-table__button:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
}
.pricing-table .pricing-table__item-list-wrapper {
  margin-top: 16px;
  text-align: start;
  color: var(--list-color);
}
.pricing-table .pricing-table__item-list-wrapper.pricing-table__item-list-wrapper--without-icon ul li::before,
.pricing-table .pricing-table__item-list-wrapper.pricing-table__item-list-wrapper--without-icon ol li::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMTJDMCA1LjM3MjU4IDUuMzcyNTggMCAxMiAwVjBDMTguNjI3NCAwIDI0IDUuMzcyNTggMjQgMTJWMTJDMjQgMTguNjI3NCAxOC42Mjc0IDI0IDEyIDI0VjI0QzUuMzcyNTggMjQgMCAxOC42Mjc0IDAgMTJWMTJaIiBmaWxsPSIjMTYxRTEzIi8+CjxwYXRoIGQ9Ik0xNy4zMzI3IDhMOS45OTkzNSAxNS4zMzMzTDYuNjY2MDIgMTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
}
.pricing-table ul,
.pricing-table ol {
  list-style-type: none;
}
.pricing-table ul li,
.pricing-table ol li {
  display: flex;
  align-items: center;
  font-size: calc(var(--body-font-size) * 0.875);
  margin-top: 12px;
  line-height: 1.28;
}
.pricing-table ul li::before,
.pricing-table ol li::before {
  content: "";
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-inline-end: 12px;
  background-image: var(--list-icon);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.pricing-table ul li:first-child,
.pricing-table ol li:first-child {
  margin-top: 0;
}
.pricing-table.animated .pricing-table__heading.need-animate,
.pricing-table.animated .pricing-table__item-wrapper.need-animate,
.pricing-table.animated .pricing-table__item-image-wrapper.need-animate,
.pricing-table.animated .pricing-table__item-text-container.need-animate,
.pricing-table.animated .pricing-table__item-box-right.need-animate {
  opacity: 1;
}
html.no-js .pricing-table {
  opacity: 1;
}
@media (max-width: 991.98px) {
  .pricing-table .pricing-table__items-container.pricing-table__items-container--carousel {
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 0 -16px;
    padding: 0 16px;
  }
  .pricing-table .pricing-table__items-container.pricing-table__items-container--carousel::-webkit-scrollbar {
    display: none;
  }
  .pricing-table .pricing-table__items-container.pricing-table__items-container--carousel .pricing-table__item-wrapper {
    min-width: 61%;
  }
  .pricing-table .pricing-table__items-container.pricing-table__items-container--carousel .pricing-table__item {
    display: flex;
    flex-direction: column;
  }
  .pricing-table .price .price__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
  }
  .pricing-table .price .price-item.price-item--last {
    margin: 0 8px;
  }
  .pricing-table .price .unit-price {
    margin-top: 0;
  }
}
@media (max-width: 575.98px) {
  .pricing-table .pricing-table__items-container.pricing-table__items-container--carousel .pricing-table__item-wrapper {
    min-width: 91%;
  }
}
@media (min-width: 992px) {
  .pricing-table .pricing-table__items-container.pricing-table__items-container--1, .pricing-table .pricing-table__items-container.pricing-table__items-container--2 {
    justify-content: center;
  }
  .pricing-table .pricing-table__item-wrapper {
    max-width: 1368px;
    margin: 0 auto;
  }
  .pricing-table .pricing-table__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px 16px 16px;
  }
  .pricing-table .pricing-table__item-box-left {
    display: flex;
    align-items: stretch;
    margin-bottom: 0;
    margin-inline-end: 32px;
  }
  .pricing-table .pricing-table__item-box-right {
    max-width: 320px;
    width: 100%;
  }
  .pricing-table .pricing-table__item-image-container {
    min-width: 240px;
    width: 240px;
    margin: 0;
    margin-inline-end: 32px;
  }
  .pricing-table .pricing-table__item-image-wrapper {
    padding-top: 75%;
  }
  .pricing-table .pricing-table__heading {
    margin-bottom: 32px;
  }
  .pricing-table .pricing-table__item-subtitle {
    margin-top: 16px;
    font-size: var(--body-font-size);
    line-height: 1.5;
  }
  .pricing-table .price {
    font-size: calc(var(--body-font-size) * 1.375);
    line-height: 1.18;
  }
  .pricing-table ul li,
  .pricing-table ol li {
    font-size: var(--body-font-size);
  }
  .pricing-table ul li::before,
  .pricing-table ol li::before {
    width: 24px;
    height: 24px;
  }
}