/**
	Timings
 */
:root {
  --timing-micro: 0.1s;
  --timing-short: 0.2s;
  --timing-base: 0.4s;
  --timing-long: 0.7s;
  --timing-second: 1s;
  --animate-time: 0.8s;
  --animate-delay: 0.3s;
  --animate-img-scale: 0.6s;
  /**
  * Easing.
  */
  --easing-linear: cubic-bezier(0, 0, 1, 1);
  --easing-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --easing-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --easing-ease-in: cubic-bezier(0.42, 0, 1, 1);
  --easing-ease-out: cubic-bezier(0, 0, 0.09, 1);
  /**
  * Config: Layers
  * -----------------------------------------------------------------------------
  * Visual motif used to create groupings, content associations and focus through depth.
  */
  --layer-negative: -1;
  --layer-base: 0;
  --layer-flat: 1;
  --layer-raised: 2;
  --layer-sticky-btn: 7;
  --layer-sticky: 11;
  --layer-overlay: 14;
  --layer-temporary: 16;
  --layer-pop-out: 24;
  --layer-pop-out-overlay: 25;
  --layer-pop-out-overlay-loader: 26;
}
.ask-question-popup .ask-question-popup__container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  padding-top: 56px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
}
.ask-question-popup .ask-question-popup__title {
  margin-bottom: 32px;
  text-align: center;
}
.ask-question-popup .ask-question-popup__form {
  margin-top: 20px;
}
.ask-question-popup .ask-question-popup-form__field + .ask-question-popup-form__field {
  margin-top: 16px;
}
.ask-question-popup .ask-question-popup-form__button {
  margin-top: 16px;
}
.ask-question-popup .ask-question-popup__close-button {
  right: 24px;
}
@media (min-width: 768px) {
  .ask-question-popup .ask-question-popup__container {
    max-width: 600px;
    padding-bottom: 40px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .ask-question-popup .ask-question-popup__title {
    margin-bottom: 40px;
  }
}
.ask-question-popup-form .ask-question-popup-form__button {
  width: 100%;
}
.ask-question-popup-form .ask-question-popup-form__textarea {
  height: 100px;
}
.ask-question-popup-form .ask-question-popup-form__message-container {
  display: none;
}
.ask-question-popup-form .ask-question-popup-form__message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ask-question-popup-form .ask-question-popup-form__message svg {
  width: 16px;
  height: 16px;
  margin-inline-end: 10px;
  flex-shrink: 0;
}
.ask-question-popup-form .ask-question-popup-form__message.ask-question-popup-form__message--error {
  color: var(--color-text-attention);
}
.ask-question-popup-form .ask-question-popup-form__message.ask-question-popup-form__message--success {
  color: var(--color-text-success);
}
.ask-question-popup-form.is-posted .ask-question-popup-form__message-container {
  display: block;
}
.ask-question-popup-form.is-posted .ask-question-popup-form__field,
.ask-question-popup-form.is-posted .ask-question-popup-form__button {
  display: none;
}