.product-recommendations {
  /* stylelint-disable */
  /* stylelint-enable */
}
.product-recommendations .product-recommendations__container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}
.product-recommendations .product-recommendations__heading {
  text-transform: none;
  margin-bottom: 6px;
}
.product-recommendations .product-recommendations__tab-buttons-wrapper {
  max-width: 100vw;
  overflow-x: auto;
  padding: 0 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-recommendations .product-recommendations__tab-buttons-wrapper::-webkit-scrollbar {
  display: none;
}
.product-recommendations .product-recommendations__tab-buttons {
  display: none;
  justify-content: center;
  width: fit-content;
  margin: auto;
  white-space: nowrap;
  padding: 8px;
  border: 1px solid var(--color-border-thirdly);
  border-radius: var(--global-border-radius);
}
.product-recommendations .product-recommendations__heading {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.product-recommendations .product-recommendations__subheading {
  opacity: 0.5;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-heading, #000);
  font-style: normal;
}
.product-recommendations .product-recommendations__content {
  padding: 0 10px;
}
.product-recommendations .product-recommendations__row.swiper-wrapper {
  align-items: unset;
}
.product-recommendations .product-recommendations__col {
  position: relative;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.product-recommendations .product-recommendations__row-wrapper.swiper-initialized {
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px;
  padding-right: 8px;
}
.product-recommendations .product-recommendations__row-wrapper.swiper-initialized .product-recommendations__row {
  width: max-content;
  margin: 0 auto;
}
.product-recommendations .product-recommendations__row-wrapper:not(.is-active) {
  display: none;
}
.product-recommendations .product-recommendations__button {
  display: none;
}
.product-recommendations .product-recommendations__button.swiper-button-lock {
  display: none;
}
.product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) {
  overflow-x: auto;
}
.product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__row {
  display: flex;
}
.product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__col {
  width: 50%;
}
.product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__slider-pagination {
  display: none;
}
.product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__button {
  display: none;
}
.product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized)::-webkit-scrollbar {
  height: 7px;
}
.product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized)::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
.product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized)::-webkit-scrollbar-thumb {
  background-color: rgba(48, 93, 112, 0.3);
}
.product-recommendations .product-recommendations__preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.product-recommendations .product-recommendations__preloader {
  width: 40px;
  height: 40px;
  margin: auto;
  border: 4px solid var(--color-preloader-primary);
  border-radius: 50%;
  border-top-color: var(--color-preloader-secondary);
  animation: spin var(--timing-long) var(--easing-ease-in-out) infinite;
}
.product-recommendations .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.product-recommendations.is-loading .product-card {
  filter: blur(10px);
}
.product-recommendations.is-loading .product-recommendations__preloader-wrapper {
  display: flex;
}
.product-recommendations.is-tabs .product-recommendations__row-wrapper {
  animation: product-recommendations-fade 1s forwards;
}
.product-recommendations.is-tabs .product-recommendations__tab-buttons-wrapper {
  padding: 0 8px;
  margin: 0 -8px;
}
.product-recommendations.is-tabs .product-recommendations__tab-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .product-recommendations.is-tabs .product-recommendations__tab-buttons {
    margin-bottom: 48px;
  }
  .product-recommendations .product-recommendations__heading {
    margin-bottom: 30px;
  }
  .product-recommendations .product-recommendations__subheading {
    line-height: 1.375;
  }
  .product-recommendations .product-recommendations__col {
    width: 100%;
    aspect-ratio: 1;
  }
  .product-recommendations .product-recommendations__row.product-recommendations__row--indent {
    column-gap: 10px;
  }
  .product-recommendations .product-recommendations__button {
    display: flex;
    width: 48px;
    height: 48px;
    color: var(--color-slider-arrow-icon);
  }
}
@media (min-width: 768px) and (-moz-touch-enabled: 0), (min-width: 768px) and (hover: hover), (min-width: 768px) and (pointer: fine) {
  .product-recommendations .product-recommendations__button:hover {
    color: var(--color-slider-arrow-icon-hover);
  }
}
@media (min-width: 768px) {
  .product-recommendations .product-recommendations__button.product-recommendations__button--prev {
    inset-inline-start: 32px;
    transform: scaleX(-1);
  }
  .product-recommendations .product-recommendations__button.product-recommendations__button--next {
    inset-inline-end: 32px;
  }
  .product-recommendations .product-recommendations__button::after {
    content: none;
  }
  .product-recommendations .product-recommendations__slider-pagination {
    display: none;
  }
  .product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__col {
    flex: 0 0 33.333333%;
    aspect-ratio: unset;
  }
  .product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__row.product-recommendations__row--centered {
    justify-content: center;
  }
  .product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__row.product-recommendations__row--indent .product-recommendations__col.product-recommendations__col--main {
    flex-basis: calc(33.33333% - 6.6666666667px);
  }
  .product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__row.product-recommendations__row--indent .product-recommendations__col.product-recommendations__col--alternative {
    flex-basis: calc(33.33333% - 6.6666666667px);
  }
}
@media (min-width: 992px) {
  .product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__col.product-recommendations__col--alternative {
    flex: 0 0 25%;
  }
  .product-recommendations .product-recommendations__row-wrapper:not(.swiper-initialized) .product-recommendations__row.product-recommendations__row--indent .product-recommendations__col.product-recommendations__col--alternative {
    flex-basis: calc(25% - 7.5px);
  }
}
@keyframes product-recommendations-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}