.product-promo {
  position: fixed;
  bottom: 0;
  left: 16px;
  padding: 16px;
  z-index: 12;
  background-color: var(--background-color, var(--color-black));
  border-radius: var(--global-border-radius);
  color: var(--text-color, var(--color-white));
  animation-name: fadeInBottom;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.product-promo .product-promo__close {
  position: relative;
  display: flex;
  margin-inline-start: auto;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 24px;
  height: 24px;
  padding: 0;
  color: var(--button-close-color, var(--color-white));
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.product-promo .product-promo__close::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-promo .product-promo__close:focus-visible {
  outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .product-promo .product-promo__close:hover {
    opacity: 0.5;
  }
}
.product-promo .product-promo__header {
  display: flex;
  width: 100%;
  gap: 16px;
}
.product-promo .product-promo__heading-container {
  display: flex;
  gap: 16px;
}
.product-promo .product-promo__heading {
  font-size: calc(var(--body-font-size) * 1.125);
  font-weight: 500;
  line-height: 1.333;
  color: inherit;
}
.product-promo .product-promo__text {
  line-height: 1.5;
  color: inherit;
}
.product-promo .product-promo__icon {
  display: block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.product-promo .product-promo__button {
  display: inline-block;
  padding: 7px 15px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  line-height: 1.286;
  text-align: center;
  border-radius: 32px;
  text-decoration: none;
  text-transform: none;
  border: 1px solid var(--button-border-color, #ffffff);
  background-color: var(--button-background-color, #161E13);
  color: var(--button-label-color, #ffffff);
  transition-property: background-color, color, border-color;
  transition-duration: var(--timing-short);
}
.product-promo .product-promo__button:focus-visible {
  outline-color: var(--text-color, var(--color-white));
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .product-promo .product-promo__button:hover {
    border: 1px solid var(--button-border-hover-color, #ffffff);
    background-color: var(--button-background-hover-color, #161E13);
    color: var(--button-label-hover-color, #ffffff);
  }
}
.product-promo .product-promo__button.disabled, .product-promo .product-promo__button[disabled] {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}
.product-promo .product-promo__media {
  position: relative;
}
.product-promo .product-promo__image-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
}
.product-promo .product-promo__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-desktop-pos);
}
.product-promo .product-promo__title {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid transparent;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color, var(--color-white));
  word-break: break-word;
  transition-property: border-color;
  transition-duration: var(--timing-short);
  overflow: hidden;
  display: -moz-box;
  display: -webkit-box;
  text-overflow: ellipsis;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .product-promo .product-promo__title:hover {
    border-color: currentColor;
  }
}
.product-promo .product-promo__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.product-promo.product-promo--shadow {
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.14);
}
.product-promo.product-promo--product {
  display: flex;
  width: 100%;
  gap: 16px;
  max-width: min(440px, 100vw - 32px);
}
.product-promo.product-promo--product .product-promo__close {
  top: 0;
  right: 0;
}
.product-promo.product-promo--product .product-promo__content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  gap: 12px;
}
.product-promo.product-promo--product .price {
  font-size: calc(var(--body-font-size) * 0.875);
}
.product-promo.product-promo--product .price .price-item {
  margin-inline-end: 5px;
  color: var(--text-color);
}
.product-promo.product-promo--product .price .price-item.price-item--sale {
  color: var(--text-color);
}
.product-promo.product-promo--product .price.price--on-sale .price__sale .price-item--regular {
  color: var(--text-color);
}
.product-promo.product-promo--text {
  max-width: min(342px, 100vw - 32px);
}
.product-promo.product-promo--text .product-promo__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  color: inherit;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.template-search .product-promo,
.template-collection .product-promo {
  bottom: 50px;
  animation-name: fadeInBottomHigh;
}
@media (min-width: 768px) {
  .template-search .product-promo,
  .template-collection .product-promo {
    bottom: 0;
    animation-name: fadeInBottom;
  }
}