/**
	Timings
 */
:root {
  --timing-micro: 0.1s;
  --timing-short: 0.2s;
  --timing-base: 0.4s;
  --timing-long: 0.7s;
  --timing-second: 1s;
  --animate-time: 0.8s;
  --animate-delay: 0.3s;
  --animate-img-scale: 0.6s;
  /**
  * Easing.
  */
  --easing-linear: cubic-bezier(0, 0, 1, 1);
  --easing-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  --easing-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --easing-ease-in: cubic-bezier(0.42, 0, 1, 1);
  --easing-ease-out: cubic-bezier(0, 0, 0.09, 1);
  /**
  * Config: Layers
  * -----------------------------------------------------------------------------
  * Visual motif used to create groupings, content associations and focus through depth.
  */
  --layer-negative: -1;
  --layer-base: 0;
  --layer-flat: 1;
  --layer-raised: 2;
  --layer-sticky-btn: 7;
  --layer-sticky: 11;
  --layer-overlay: 14;
  --layer-temporary: 16;
  --layer-pop-out: 24;
  --layer-pop-out-overlay: 25;
  --layer-pop-out-overlay-loader: 26;
}
.quick-view {
  top: 16px;
  display: block;
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  padding: 56px 0 16px;
  border-top-left-radius: var(--global-border-radius);
  border-top-right-radius: var(--global-border-radius);
  background-color: var(--color-background-popup-drawer, #fff);
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.quick-view .quick-view__header {
  position: static;
  display: flex;
  align-items: flex-start;
  padding: 0 24px 8px;
}
.quick-view .quick-view__header .popup-close-icon-button {
  inset-inline-end: 24px;
}
.quick-view .quick-view__heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.quick-view .quick-view__heading {
  font-size: calc(var(--heading-font-size) * 1.375);
  font-weight: 500;
  line-height: 1.2728;
  text-align: start;
  color: var(--color-text-primary);
}
.quick-view .quick-view__price {
  font-style: normal;
  font-size: var(--body-font-size);
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-text-primary);
}
.quick-view .quick-view__body {
  width: 100%;
  padding: 0 24px 24px;
}
.quick-view .quick-view__media {
  padding-bottom: 17px;
  padding-top: 7px;
}
.quick-view .quick-view__image, .quick-view model-viewer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-position: var(--img-desktop-pos);
  border-radius: var(--global-border-radius);
  overflow: hidden;
}
.quick-view .quick-view__image iframe, .quick-view model-viewer iframe {
  width: 100%;
  height: 100%;
}
.quick-view .quick-view__model-view-button {
  position: absolute;
  z-index: var(--layer-flat, 1);
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background-color: var(--ui-model-view-button-background-color, var(--color-light-gray));
  color: var(--ui-button-color, var(--color-black));
}
.quick-view .quick-view__model-view-button .icon {
  margin-inline-end: 10px;
  width: 20px;
}
.quick-view .quick-view__model-view-button[data-shopify-xr-hidden] {
  display: none;
}
.quick-view .quick-view__model-view-button:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
.quick-view .quick-view__image-wrapper {
  position: relative;
  padding-top: 100%;
}
.quick-view .quick-view__image-wrapper.quick-view__image-wrapper--native-size {
  padding-top: var(--aspect-ratio, 100%);
}
.quick-view .quick-view__image-wrapper.quick-view__image-wrapper--native-size .quick-view__image {
  object-fit: cover;
}
.quick-view .quick-view__image-wrapper.quick-view__image-wrapper--contain .quick-view__image {
  object-fit: contain;
}
.quick-view .quick-view__image-wrapper.quick-view__image-wrapper--cover .quick-view__image {
  object-fit: cover;
}
.quick-view .quick-view__image-wrapper .quick-view__image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border: 1px solid var(--color-slider-arrow-border);
  background-color: var(--color-slider-arrow-background, var(--color-white));
  border-radius: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: auto;
  color: var(--color-slider-arrow-icon, var(--color-black));
  transition-property: background-color;
  transition-duration: var(--timing-short);
}
.quick-view .quick-view__image-wrapper .quick-view__image-button svg {
  width: 40%;
  height: 40%;
}
.quick-view .quick-view__image-wrapper .quick-view__image-button path {
  transition-property: fill;
  transition-duration: var(--timing-short);
}
.quick-view .quick-view__image-wrapper .quick-view__image-button:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view .quick-view__image-wrapper .quick-view__image-button:hover {
    background-color: var(--color-slider-arrow-background-hover, var(--color-black));
    border-color: var(--color-slider-arrow-border-hover);
    color: var(--color-slider-arrow-icon-hover, var(--color-white));
  }
  .quick-view .quick-view__image-wrapper .quick-view__image-button:hover path {
    fill: var(--color-slider-arrow-icon-hover, var(--color-white));
  }
}
.quick-view .quick-view__image-wrapper video, .quick-view .quick-view__image-wrapper iframe {
  background-color: var(--color-black);
}
.quick-view .quick-view__slider {
  position: relative;
}
.quick-view .quick-view__slider .swiper-button-next,
.quick-view .quick-view__slider .swiper-button-prev {
  display: none;
  width: 48px;
  height: 64px;
  margin-top: -20px;
  color: var(--color-slider-arrow-icon, var(--color-black));
}
.quick-view .quick-view__slider .swiper-button-next.desktop-only,
.quick-view .quick-view__slider .swiper-button-prev.desktop-only {
  display: none;
}
.quick-view .quick-view__slider .swiper-button-next svg,
.quick-view .quick-view__slider .swiper-button-prev svg {
  flex-shrink: 0;
}
.quick-view .quick-view__slider .swiper-button-next::before, .quick-view .quick-view__slider .swiper-button-next::after,
.quick-view .quick-view__slider .swiper-button-prev::before,
.quick-view .quick-view__slider .swiper-button-prev::after {
  content: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view .quick-view__slider .swiper-button-next:hover,
  .quick-view .quick-view__slider .swiper-button-prev:hover {
    color: var(--color-slider-arrow-icon-hover, var(--color-white));
  }
}
.quick-view .quick-view__slider .swiper-button-next {
  inset-inline-end: 16px;
}
.quick-view .quick-view__slider .swiper-button-prev {
  inset-inline-start: 16px;
}
.quick-view .quick-view__slider-thumbnails {
  display: none;
}
.quick-view .quick-view__image-wrapper-thumbnail {
  position: relative;
  aspect-ratio: 1;
}
.quick-view .quick-view__image-wrapper-thumbnail .quick-view__image {
  object-fit: cover;
  border: 1px solid transparent;
}
.quick-view .quick-view__image-wrapper-thumbnail .quick-view__image-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3333333333%;
  height: 33.3333333333%;
  border: 1px solid var(--color-slider-arrow-border);
  background-color: var(--color-slider-arrow-background, var(--color-white));
  color: var(--color-slider-arrow-icon, var(--color-black));
  border-radius: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.quick-view .quick-view__image-wrapper-thumbnail .quick-view__image-icon-wrapper svg {
  width: 40%;
  height: 40%;
}
.quick-view .quick-view__description {
  margin-bottom: 20px;
}
.quick-view .product-countdown-timer {
  margin-bottom: 32px;
}
.quick-view .quick-view__slider-pagination {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  transform: none;
}
.quick-view .quick-view__slider-pagination.swiper-pagination-bullets {
  transform: none;
}
.quick-view .shopify-model-viewer-ui .shopify-model-viewer-ui__controls-area {
  background-color: var(--color-slider-arrow-background, var(--color-white));
  border: 1px solid var(--color-slider-arrow-border);
}
.quick-view .shopify-model-viewer-ui .shopify-model-viewer-ui__button {
  color: var(--color-slider-arrow-icon, var(--color-black));
}
.quick-view .shopify-model-viewer-ui .shopify-model-viewer-ui__button::after {
  background-color: var(--color-slider-arrow-border);
  opacity: 1;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view .shopify-model-viewer-ui .shopify-model-viewer-ui__button:hover {
    background-color: var(--color-slider-arrow-background-hover, var(--color-black));
    color: var(--color-slider-arrow-icon-hover, var(--color-white));
  }
}
@media (min-width: 500px) {
  .quick-view {
    top: 0;
    border-radius: 0;
    width: calc(100% - 32px);
  }
}
@media (min-width: 992px) {
  .quick-view {
    width: calc(100% - 40px);
    max-width: 1040px;
    padding-top: 56px;
    padding-bottom: 0;
    height: 100%;
    max-height: calc(100% - 32px);
    border-radius: var(--global-border-radius);
    overflow-y: hidden;
  }
  .quick-view.quick-view--short {
    max-width: 500px;
  }
  .quick-view.quick-view--short .quick-view__meta-scroll-wrapper {
    width: 100%;
    padding: 0 4px;
  }
  .quick-view .quick-view__header {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .quick-view .quick-view__body {
    display: flex;
    overflow: visible;
    padding: 0 32px;
    height: 100%;
  }
  .quick-view .quick-view__meta-scroll-wrapper {
    padding: 0 4px 0 0;
    padding-inline-start: 36px;
    height: calc(100vh - 88px);
    overflow: scroll;
    flex-grow: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .quick-view .quick-view__meta-scroll-wrapper::-webkit-scrollbar {
    display: none;
  }
  .quick-view .quick-view__media {
    flex-shrink: 0;
    width: 60%;
    padding: 56px 0 0;
    margin-top: -56px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .quick-view .quick-view__media::-webkit-scrollbar {
    display: none;
  }
  .quick-view .quick-view__media-stacked {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 56px;
  }
  .quick-view .quick-view__meta {
    flex-shrink: 1;
    width: 100%;
    padding-bottom: 56px;
  }
  .quick-view .quick-view__heading {
    margin-top: 24px;
    font-size: calc(var(--heading-font-size) * 1.75);
    line-height: 1.21429;
  }
  .quick-view .quick-view__description {
    margin-bottom: 32px;
  }
  .quick-view .swiper-slide {
    border-radius: 16px;
    overflow: hidden;
  }
  .quick-view .quick-view__slider-thumbnails {
    display: block;
    padding: 16px 4px;
  }
  .quick-view .quick-view__slider-thumbnails .swiper-slide {
    cursor: pointer;
    padding: 0;
  }
  .quick-view .quick-view__slider-thumbnails .swiper-slide-thumb-active .quick-view__image {
    border-color: var(--color-border-primary, #000000);
  }
  .quick-view .quick-view__slider[data-media-layout=stacked] ~ .quick-view__slider-thumbnails {
    display: none;
  }
  .quick-view .quick-view__slider:not([data-media-layout=stacked]) .swiper-button-next,
  .quick-view .quick-view__slider:not([data-media-layout=stacked]) .swiper-button-prev {
    display: flex;
  }
  .quick-view .quick-view__slider:not([data-media-layout=stacked]) .swiper-button-next.desktop-only,
  .quick-view .quick-view__slider:not([data-media-layout=stacked]) .swiper-button-prev.desktop-only {
    display: flex;
  }
  .quick-view .quick-view__slider-pagination {
    display: none;
  }
}
@media (min-width: 481px) {
  .quick-view .shopify-model-viewer-ui__controls-area {
    flex-direction: column;
  }
  .quick-view .shopify-model-viewer-ui__button:first-child {
    border-radius: 44px 44px 0 0;
  }
  .quick-view .shopify-model-viewer-ui__button:last-child {
    border-radius: 0 0 44px 44px;
  }
}
.window-overlay[data-js-overlay=quick-view-preloader] {
  pointer-events: none;
}
.window-overlay[data-js-overlay=quick-view] {
  cursor: pointer;
}
.window-overlay[data-js-overlay=quick-view] .loader {
  display: none;
}
.product-options {
  padding-top: var(--offset-top-desktop);
  padding-bottom: var(--offset-bottom-desktop);
}
html.no-js .product-options {
  display: none;
}
.product-options__swatch-preview {
  flex-shrink: 0;
  width: 112px;
  height: 112px;
  border: 1px solid var(--color-border-thirdly);
  background-color: var(--swatch-color);
  background-image: var(--swatch-image);
  background-size: cover;
}
.product-options__swatch-preview.product-options__swatch-preview--square {
  border-radius: calc(var(--global-border-radius) * 0.5);
}
.product-options__swatch-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  gap: 12px;
}
.product-options__swatch-container.product-options__swatch-container--scroll {
  overflow-y: auto;
  max-height: 112px;
  padding: 12px;
  border: 1px solid var(--color-border-secondary);
  border-radius: 4px;
}
.product-options__swatch,
.product-options__default {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 32px;
  gap: 12px;
}
.product-options__swatch:first-child,
.product-options__default:first-child {
  margin-top: 0;
}
.product-options__option-label {
  width: 100%;
  line-height: 1.5;
  word-break: break-word;
}
.product-options__size-guide {
  margin-top: 24px;
}
.product-options__size-guide .button-link__icon {
  width: 40px;
  height: 40px;
}
.product-options__swatch-value {
  font-weight: 500;
}
.product-variants {
  display: none;
  padding-top: var(--offset-top-desktop);
  padding-bottom: var(--offset-bottom-desktop);
}
.product-variants.product-variants--only {
  display: block;
}
html.no-js .product-variants {
  display: block;
}
@media (max-width: 767.98px) {
  .product-options__swatch-container {
    flex-basis: 100%;
  }
}
@media (max-width: 1199.98px) {
  .product-options {
    padding-top: var(--offset-top-mobile);
    padding-bottom: var(--offset-bottom-mobile);
  }
  .product-options__swatch-container {
    gap: 8px;
  }
  .product-options__swatch,
  .product-options__default {
    margin-top: 24px;
    gap: 8px;
  }
  .product-variants {
    padding-top: var(--offset-top-mobile);
    padding-bottom: var(--offset-bottom-mobile);
  }
  .product-options__size-guide .button-link__icon {
    width: 32px;
    height: 32px;
  }
}
.quick-view-form .quick-view-form__option {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
.quick-view-form .quick-view-form__name {
  width: 100%;
  margin-bottom: 12px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 400;
  line-height: 1.357;
  letter-spacing: 0.02em;
  word-break: break-word;
  color: var(--color-text-primary);
}
.quick-view-form .quick-view-form__swatch-value {
  display: inline-block;
}
.quick-view-form .quick-view-form__radio-container {
  margin: 0;
}
.quick-view-form .quick-view-form__buttons {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.quick-view-form .quick-view-form__button {
  display: inline-block;
  width: 100%;
  padding: 16px;
}
.quick-view-form .quick-view-form__button.quick-view-form__button--transparent {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.quick-view-form .quick-view-form__button.quick-view-form__button--transparent span {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.quick-view-form .quick-view-form__button.quick-view-form__button--transparent svg {
  width: 16px;
  height: 16px;
}
.quick-view-form .quick-view-form__button.quick-view-form__button--transparent:focus-visible {
  outline: 2px solid var(--button-background-color-secondary);
  outline-offset: 10px;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view-form .quick-view-form__button.quick-view-form__button--transparent:hover {
    background-color: transparent;
    opacity: 0.5;
  }
}
.quick-view-form .additional-checkout-buttons {
  padding-bottom: 4px;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button--branded {
  min-height: 54px;
  padding: 0;
  border-radius: 0;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button--branded [data-testid=ShopifyPay-button] {
  border-radius: 33px;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded {
  width: 100%;
  height: auto;
  padding: 16px 32px;
  background-color: var(--button-background);
  border: 1px solid var(--button-border-color);
  font-size: var(--body-font-size);
  line-height: 1.375;
  text-align: center;
  color: var(--button-color);
  transition: opacity var(--timing-short), color var(--timing-short), border var(--timing-short), background-color var(--timing-short);
  border-radius: 32px;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded:focus-visible {
  outline: 2px solid var(--button-border-color);
  outline-offset: 2px;
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded[disabled] {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .quick-view-form .additional-checkout-buttons .shopify-payment-button__button.shopify-payment-button__button--unbranded:hover {
    background-color: var(--button-background-color-hover);
    color: var(--button-color-hover);
    border: 1px solid var(--button-border-color-hover);
  }
}
.quick-view-form .additional-checkout-buttons .shopify-payment-button__more-options {
  color: var(--color-text-primary);
}
.quick-view-form .quick-view-form__error {
  margin-top: 5px;
  color: var(--color-text-attention, #d33636);
}
.quick-view-form .radio-option-tooltip {
  max-width: 80px;
}
@media (min-width: 768px) {
  .quick-view-form .quick-view-form__swatch-value {
    display: none;
  }
}
@media (min-width: 992px) {
  .quick-view-form .quick-view-form__buttons {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 13px;
  }
  .quick-view-form .quick-view-form__button.quick-view-form__button--transparent {
    margin-left: 0;
    margin-right: 0;
  }
  .quick-view-form .additional-checkout-buttons {
    width: 100%;
  }
  .quick-view-form .additional-checkout-buttons .shopify-payment-button__button {
    width: 100%;
  }
  .quick-view-form .quick-view-form__option {
    gap: 12px;
  }
  .quick-view-form .quick-view-form__buttons {
    margin-top: 32px;
    padding-top: 0;
  }
  .quick-view-form .quick-view-form__name {
    font-size: var(--body-font-size);
    line-height: 1.5;
  }
  .quick-view-form .product-options__swatch-value {
    padding-inline-start: 6px;
  }
  .quick-view-form .radio-option-tooltip {
    max-width: 105px;
  }
  .quick-view-form .radio-option-swatch-big.radio-option-swatch-big--square .radio-option-tooltip {
    max-width: 125px;
  }
}