.search {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.search.animated {
  opacity: 1;
}
.search .search__container {
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.search .search__body {
  margin-top: 30px;
}
.search .search__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}
.search .search__header-col.search__header-col--filter {
  flex-shrink: 0;
  width: auto;
  max-width: unset;
}
.search .search__header-col.is-hidden {
  display: none;
}
.search .search__title {
  max-width: 800px;
  font-size: calc(var(--body-font-size) * 1.75);
  line-height: 1.21429;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  color: var(--color-text-primary, #000000);
}
.search .search__title.search__title--empty {
  width: 100%;
  font-size: var(--body-font-size);
  line-height: 1.5;
  max-width: unset;
  text-align: center;
}
.search .search__title.is-hidden {
  display: none;
}
.search .search__header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search .search__grid-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.search .search__grid-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: calc(var(--global-border-radius) * 0.75);
  padding: 0;
  color: var(--color-text-thirdly);
  gap: 3px;
}
.search .search__grid-button .icon {
  display: block;
  width: 16px;
  height: 16px;
}
.search .search__grid-button.is-active {
  background-color: var(--button-background-color-secondary);
  color: var(--button-text-color-secondary);
}
.search .search__grid-button:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}
.search .search__grid-button-icon-desktop {
  display: none;
}
.search .search__description {
  max-width: 600px;
  margin-top: 16px;
  font-size: var(--body-font-size);
  text-align: center;
  line-height: 1.5;
  word-wrap: break-word;
  hyphens: auto;
  color: var(--color-text-secondary);
}
.search .search__item {
  width: 100%;
}
.search .search__grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 32px;
}
.search .search__grid.is-hidden {
  display: none;
}
.search .search__grid[data-type=product] .search__item {
  width: calc(50% - 8px);
}
.search .search__grid[data-type=product][data-grid-cols="3"] .search__item {
  width: 100%;
}
.search .search__grid[data-type=page] {
  row-gap: 16px;
}
.search .search__grid[data-type=page] .search__item {
  width: 100%;
}
.search .search__grid[data-type=article] .search__item {
  width: 100%;
}
.search .search__form {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
.search .search__input-wrapper {
  flex-grow: 1;
}
.search .search__button {
  min-width: 140px;
  padding: 19px 10px;
  border-color: transparent;
  text-transform: uppercase;
}
.search .input__search-icon-wrapper {
  position: absolute;
  top: 50%;
  inset-inline-start: 20px;
  transform: translateY(-50%);
}
.search .input-label {
  inset-inline-start: 48px;
}
.search .search__pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid var(--color-border-secondary);
}
.search .search__pagination-wrapper.is-hidden {
  display: none;
}
.search .search__infinite-scroll {
  opacity: 0;
  width: 36px;
  height: 36px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--color-border-primary, #000000);
  border-bottom-color: var(--color-white, #ffffff);
  border-radius: 50%;
}
.search .search__infinite-scroll.is-hidden {
  display: none;
}
.search .search__lazy-load-button-wrapper {
  display: flex;
  justify-content: center;
}
.search .search__load-more-button {
  margin-top: 40px;
  text-transform: uppercase;
}
.search .search__load-more-button.is-hidden {
  display: none;
}
.search .search__load-more-button.no-events {
  pointer-events: none;
}
.search .search__types-wrapper {
  display: flex;
  overflow-x: auto;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.search .search__types-wrapper::-webkit-scrollbar {
  display: none;
}
.search .search__types {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 8px;
  border: 1px solid var(--color-border-thirdly);
  border-radius: var(--global-border-radius);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.search .search__types::-webkit-scrollbar {
  display: none;
}
.search .search__types .tabs-ui__tab {
  white-space: nowrap;
  text-decoration: none;
}
.search .search__input-wrapper {
  width: 100%;
}
.search .search__input {
  margin: 0;
  padding: 30px 56px 30px 40px;
  padding-inline-start: 40px;
  padding-inline-end: 56px;
  border: none;
  border-bottom: 1px solid var(--color-border-thirdly);
  border-radius: 0;
  font-size: calc(var(--body-font-size) * 1.375);
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .search .search__input:not(:focus-visible):hover {
    border-color: var(--color-border-primary);
    box-shadow: 0, 0, 0, 1px, var(--color-border-primary);
  }
}
.search .search__input::placeholder {
  opacity: 1;
  color: var(--color-text-thirdly);
}
.search .search__submit {
  position: absolute;
  inset-inline-start: 0;
  top: 50%;
  display: flex;
  padding: 0;
  color: var(--color-text-primary);
  transform: translateY(-50%);
}
.search .search__submit svg {
  transition-property: fill;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.search .search__reset {
  display: none;
  position: absolute;
  inset-inline-end: 0;
  top: 50%;
  padding: 0;
  color: var(--color-text-primary);
  transform: translateY(-50%);
}
.search .search__reset svg {
  width: 16px;
  height: 16px;
  transition-property: fill;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .search .search__reset:not(:focus-visible):hover svg {
    fill: var(--color-text-secondary);
  }
}
.search .search__input:not(:placeholder-shown) ~ .search__reset {
  display: flex;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 991.98px) {
  .search .search__types .tabs-ui__tab {
    padding: 4px 16px;
  }
}
@media (min-width: 768px) {
  .search .search__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .search .search__title {
    font-size: calc(var(--body-font-size) * 2.375);
  }
  .search .search__header-content {
    flex-direction: column-reverse;
  }
  .search .search__form {
    margin-top: 50px;
  }
  .search .search__header-col.search__header-col--filter {
    display: block;
    padding-inline-start: 50px;
  }
  .search .search__header-row {
    width: 100%;
  }
  .search .search__grid[data-type=product] .search__item {
    width: calc(25% - 12px);
  }
  .search .search__grid[data-type=product][data-grid-cols="3"] .search__item {
    width: calc(33.333% - 10.667px);
  }
  .search .search__grid[data-type=page] .search__item {
    width: calc(25% - 12px);
  }
  .search .search__grid[data-type=article] .search__item {
    width: calc(50% - 16px);
  }
  .search .search__item {
    width: calc(25% - 12px);
  }
  .search .input-label {
    inset-inline-start: 56px;
  }
  .search .search__button {
    min-width: 160px;
  }
  .search .search__grid-button-icon-desktop {
    display: block;
  }
  .search .search__grid-button-icon-mobile {
    display: none;
  }
  .search .search__description {
    margin-top: 24px;
    padding-inline-end: 0;
  }
  .search .search__types {
    margin-top: 47px;
  }
  .search .search__types-wrapper {
    justify-content: center;
  }
  .search .search__body {
    margin-top: 48px;
  }
  .search .search__pagination-wrapper {
    border-top: none;
  }
}
@media (min-width: 992px) {
  .search .search__button {
    min-width: 185px;
  }
}
@media (min-width: 1200px) {
  .search.search--with-sidebar .search__body {
    display: flex;
    flex-wrap: wrap;
  }
  .search.search--with-sidebar .search__grid {
    align-self: flex-start;
    flex-grow: 1;
    flex-basis: 0;
  }
  .search.search--with-sidebar .search__pagination-wrapper,
  .search.search--with-sidebar .search__lazy-load-button-wrapper,
  .search.search--with-sidebar .search__infinite-scroll {
    width: 100%;
    padding-inline-start: 320px;
  }
  .search .search__header-col.product-filters .product-filters__open-menu-button-wrapper {
    display: none;
  }
}