.timer-with-media {
  max-width: var(--container-width);
  padding: 0 16px;
  margin: 0 auto;
}
.timer-with-media .timer-with-media__box-text {
  text-align: center;
  margin-bottom: 32px;
}
.timer-with-media .timer-with-media__box-text.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.timer-with-media .timer-with-media__label {
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-secondary);
  word-break: break-word;
}
.timer-with-media .timer-with-media__text {
  margin-top: 16px;
  color: var(--color-text-secondary);
}
.timer-with-media .timer-with-media__timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
  overflow: hidden;
}
.timer-with-media .timer-with-media__timer-col {
  text-align: center;
}
.timer-with-media .timer-with-media__timer-col + .timer-with-media__timer-col .timer-with-media__timer-values::before {
  content: ":";
  position: absolute;
  top: 50%;
  inset-inline-start: -12px;
  font-weight: 600;
  color: var(--color-text-primary);
  transform: translate(-50%, -50%);
}
.timer-with-media .timer-with-media__timer-values {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 4px;
  position: relative;
}
.timer-with-media .timer-with-media__timer-value {
  min-width: 1.4em;
  background-color: var(--color-accent);
  padding: 8px;
  border-radius: calc(var(--global-border-radius) * 0.25);
  font-weight: 500;
  line-height: 1.18;
  font-size: calc(var(--body-font-size) * 1.375);
}
.timer-with-media .timer-with-media__timer-label {
  font-size: calc(var(--body-font-size) * 0.75);
  font-weight: 400;
  color: var(--color-text-secondary);
}
.timer-with-media .timer-with-media__button-wrapper {
  margin-top: 16px;
}
.timer-with-media .timer-with-media__box-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
.timer-with-media .timer-with-media__card {
  width: 100%;
  min-height: auto;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .timer-with-media .timer-with-media__card:hover .timer-with-media__collection-image {
    transform: scale(1.15);
  }
}
.timer-with-media .timer-with-media__card.need-animate {
  opacity: 0;
  transform: translateY(25px);
  transition-property: opacity, transform;
}
.timer-with-media .timer-with-media__collection-link {
  display: block;
  height: 100%;
  position: relative;
  padding-top: 129.69%;
  border-radius: var(--global-border-radius);
  overflow: hidden;
}
.timer-with-media .timer-with-media__collection-link:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--collection-overlay-color);
}
.timer-with-media .timer-with-media__collection-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-focal);
  transition-timing-function: ease-out;
  transition-property: transform;
  transition-duration: var(--animate-img-scale);
}
.timer-with-media .timer-with-media__collection-image.timer-with-media__collection-image--placeholder {
  background-color: var(--color-img-placeholder-bg);
}
.timer-with-media .timer-with-media__collection-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  z-index: 1;
}
.timer-with-media .timer-with-media__collection-title,
.timer-with-media .timer-with-media__collection-count {
  color: var(--collection-text-color);
}
.timer-with-media .timer-with-media__collection-count {
  font-size: calc(var(--body-font-size) * 0.875);
  margin-top: 8px;
  word-break: break-word;
}
.timer-with-media .product-card {
  height: 100%;
}
.timer-with-media.animated .timer-with-media__box-text.need-animate {
  opacity: 1;
}
.timer-with-media.animated .timer-with-media__card.need-animate {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 992px) {
  .timer-with-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .timer-with-media .timer-with-media__box-text:not(.timer-with-media__box-text--center) {
    width: 23.9523%;
    min-width: 400px;
    flex-shrink: 0;
    margin-bottom: 0;
    text-align: start;
  }
  .timer-with-media .timer-with-media__text {
    margin-top: 24px;
  }
  .timer-with-media .timer-with-media__timer {
    justify-content: flex-start;
    margin-top: 24px;
  }
  .timer-with-media .timer-with-media__box-cards {
    flex-direction: row;
    width: calc(76.048% - 16px);
  }
  .timer-with-media .timer-with-media__card {
    width: calc(33.3333333333% - 10.666px);
  }
  .timer-with-media .timer-with-media__collection-link {
    padding-top: 120%;
  }
  .timer-with-media .timer-with-media__collection-count {
    font-size: var(--body-font-size);
    margin-top: 12px;
  }
}
@media (min-width: 1200px) {
  .timer-with-media .timer-with-media__box-text {
    padding: 32px;
  }
}
@media (max-width: 991.98px) {
  .timer-with-media .timer-with-media__box-cards.timer-with-media__box-cards--carousel {
    width: auto;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 -16px;
    padding: 0 16px;
    overflow-x: auto;
  }
  .timer-with-media .timer-with-media__box-cards.timer-with-media__box-cards--carousel::-webkit-scrollbar {
    display: none;
  }
  .timer-with-media .timer-with-media__box-cards.timer-with-media__box-cards--carousel .timer-with-media__card {
    min-width: 60%;
  }
}
@media (max-width: 767.98px) {
  .timer-with-media .timer-with-media__box-cards.timer-with-media__box-cards--carousel .timer-with-media__card {
    min-width: 85%;
  }
}